html {
height:100%;
-webkit-font-smoothing:antialiased!important;
font-smoothing:antialiased!important;
text-rendering:optimizeLegibility!important;
overflow-x:hidden;
max-width:100%;
}

body {
font-family:'Open Sans', sans-serif;
color:#777;
font-size:13px;
font-weight:400;
line-height:1.64285;
overflow-x:hidden;
}

img.responsive {
max-width:100%;
display:block;
height:auto;
}

.panel-primary > .panel-heading {
	background-color: #273b42;
  	border-color: #ddd;
}