<div class="page page-dashboard" data-ng-controller="DashboardCtrl">
<form name="myForm" data-ng-submit="makeQuote()" >  
    <!-- Stats -->
    <div class="row">
        <div class="col-lg-3 col-xsm-3">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-success">
                    <i class="fa fa-rocket"></i>
                </span>
                <div class="box-info" ng-click="getLead()">
                    <p class="size-h2">{{myleads}}<span class="size-h4">%</span></p>
                    <p class="text-muted">Close Ratio</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-3">
          <a href="#!/leads" style="text-decoration:none">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-info">
                    <i class="fa fa-users"></i>
                </span>
              
                <div class="box-info">
                    <p class="size-h2" >12</p>
                    <p class="text-muted">Proposals</p>
                </div>
            </div></a>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-warning">
                    <i class="fa fa-dollar"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">$1,302</p>
                    <p class="text-muted">Commissions</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-danger">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">8</p>
                    <p class="text-muted">Sales</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->

 