    <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"></link>
 <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<header class="top-header clearfix" data-ng-controller="HeaderController">

    <!-- Logo -->
    <div class="logo">
        <a href="#!/">
            <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav" >
     <ul class="nav-left list-unstyled">
          <li class="dropdown text-normal nav-profile">
       </li>
       <!--   <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             id="step3"
                             ><i class="fa fa-bars"></i></a>
            </li> -->
            <li class="dropdown hidden-xs">
                <a href="https://www.youtube.com/watch?v=OsK8l4zeWgs&list=PL613fdkLVMF0sOm40UWyJPPTxWcqMhgTE" target="_blank"><i class="fa fa-youtube-play"></i>   Online Training Videos</a>
            </li>
            </ul>



        <ul class="nav-right pull-right list-unstyled">
       

            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  
                    <span class="hidden-xs" data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                    
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a href="#!/settings/profile">
                            <i class="fa fa-user"></i>
                            My Profile
                        </a>
                    </li>
                   <!--  <li>
                        <a href="#!/tasks/tasks">
                            <i class="fa fa-check"></i>
                            My Tasks
                        </a>
                    </li> -->
                    <li>
                        <a href="#!/lock">
                            <i class="fa fa-lock"></i>
                            Lock
                        </a>
                    </li>
                    <li>
                        <a href="auth/signout">
                            <i class="fa fa-sign-out"></i>
                            Log Out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</header>
