
<header class="top-header clearfix" data-ng-controller="HeaderController">

    <!-- Logo -->
    <div class="logo">
        <a href="#!/">
            <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav" >

     <ul class="nav-left list-unstyled">
          
            <li class="dropdown" ng-init="getUserTasks()">
            
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-info">{{tasks.length}}</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-dark">
                    <div class="panel-heading">
                        You have {{tasks.length}} tasks.
                    </div>
                    <ul class="list-group">
                        
                        <!--  <center>
                       
                         <a style="curosr: pointer" data-ng-click="clearNotifications()">Clear All Tasks</a>
                         </center> -->
                        <li class="list-group-item" data-ng-repeat="task in tasks  | orderBy:predicate:reverse">
                            <a href="javascript:;" ng-click="viewTask(task)" class="media">
                                <span class="pull-left media-icon">
                                    <!-- <span class="btn-icon-lined btn-icon-round btn-info"><i class="fa fa-bell-o"></i></span>
                                </span> -->
                                <div class="media-body">
                                   <span class="pull-right" ng-show="task.rejected">
                                   <span class="small badge badge-danger">Rejected</span>
                                    </span>
                                    <span class="block">{{task.name}}</span>
                                    <span data-ng-show="task.dueDate" class="text-muted"><small><label>Due By: </label>  {{task.dueDate | date:'medium'}}</small></span>

                                </div>
                            </a>
                 </li>
            </ul>
        </div>
    </li>
    <li>
     
    </li>
</ul>

        <ul class="nav-right pull-right list-unstyled">
       

            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  
                    <span class="hidden-xs" data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                    
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a href="#!/settings/profile">
                            <i class="fa fa-user"></i>
                            My Profile
                        </a>
                    </li>
                   <!--  <li>
                        <a href="#!/tasks/tasks">
                            <i class="fa fa-check"></i>
                            My Tasks
                        </a>
                    </li> -->
                    <li>
                        <a href="#!/lock">
                            <i class="fa fa-lock"></i>
                            Lock
                        </a>
                    </li>
                    <li>
                        <a href="auth/signout">
                            <i class="fa fa-sign-out"></i>
                            Log Out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</header>

<script type="text/ng-template" id="taskModal.html">
<style>
h3{
    color: #fff;
    }  
</style>
  <div class="modal-header" style="background-color: #146586" ng-init="getEmailAddresses()">
   <h3>{{task.name}}</h3>

  </div>
  <div class="modal-body">
       <div data-ng-show="task.rejected">
 <h4 class="text-center">Task Rejected</h4>
 <p class="text-center">Oh snap, son! It looks like your manager did not approve this task. You can see their notes below...once you have completed the task, please notate it on this screen. 
 </p>
<div class="form-group">
                   <label>Rejection Notes:</label>
                    <div class="controls">
                      {{task.managerNotes}}
                      </div>
                </div>
        <hr>

 </div>



    <div class="text-center">
    <p>Please provide any notes regarding this task and either mark it as Complete, or send it back to your manager notating there are problems</p>
    </div>
      <div class="form-group col-md-6">
                   <label>Task Status:</label>
                    <div class="controls">
                      {{task.status}}
                    </div>
                </div>

       <div class="form-group col-md-6">
                   <label>Due Date:</label>
                    <div class="controls">
                      {{task.dueDate | date: 'medium'}}
                    </div>
                </div>

    
     <div class="form-group">
                   <label>Task Details:</label>
                    <div class="controls">
                      {{task.details}}
                    </div>
                </div>

                


         <div class="form-group">
                   <label>Was The Task Completed Successfully?:</label>
                    <div class="controls">
                       <button ng-hide="connected" class="btn btn-success" ng-click="comp=true"><i class="fa fa-thumbs-up"></i> Yes</button>
  <button ng-hide="connected" class="btn btn-danger" ng-click="comp=false"><i class="fa fa-thumbs-down"></i> No</button>
                    </div>
                </div>
 
 <div class="form-group">
                   <label>Include Any Notes:</label>
                    <div class="controls">
                       <textarea class="form-control" rows="6" data-ng-model="notes" placeholder="...notes"></textarea>
                    </div>
                </div>

 </div>

 <div class="modal-footer">
 <button ng-hide="connected" class="btn btn-success" ng-click="save('complete')"><i class="fa fa-check"></i> Task Complete</button>
  <button ng-hide="connected" class="btn btn-danger" ng-click="save('jeopardy')"><i class="fa fa-frown-o"></i> Problem With Task</button>
 <button class="btn btn-warning" ng-click="close()">Close</button>
 </div>
</script>

