
<style>
.col-md-4{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
h1, h2, h3{
	color: #333;
}
.main-body{
	background-color: #00759B;
}
.link {
	text-decoration: none;
	cursor: pointer;
}
.angular-google-map-container { 
height: 400px; 
width: 600px;
}
</style>
<section data-ng-controller="HomeController">

	<div class="jumbotron">
	<center>
	<img alt="Swell Farmacy" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
	<br>

<br>

<div class="container">
	<div class="row">

		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
			
			<h2>Welcome to the Swell Farmacy Online Portal</h2>
			<p>This portal is designed to be a simple to use web app that should work properly on mobile devices as well. </p>
			<p>This portal is designed to streamline the process and simplify each step along the way, including: 
			</p>
			</div>
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
			<h3>
			 <ul class="list-unstyled list-info">
			 <li>Simplify the Weighing & Reporting</li>
			 <li>Enter the Plant ID & Weight One Time in One Place</li>
			 <li>Eliminate Paper Logs</li>
			 <li>Task Management</li>

			</ul>
			</h3>
			<p>To help you get accustomed to this portal, we've created some training videos that are available to watch 24/7 by clicking the link below:</p>
			<a href="https://www.youtube.com/watch?v=xUrmQCHK0zg" target="_blank"><i class="fa fa-youtube-play"></i>   Online Training Videos</a>
			
			</div>
		</div>
		<br>
		