
<style>
.col-md-4{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
h1, h2, h3{
	color: #333;
}
.main-body{
	background-color: #555;
}
.link {
	text-decoration: none;
	cursor: pointer;
}
.angular-google-map-container { 
height: 400px; 
width: 600px;
}
</style>
<section data-ng-controller="HomeController">

	<div class="jumbotron">
	<center>
	<img alt="Five C's Consulting" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
	<br>

<br>

<div class="container">
	<div class="row">
		<h1>Angular Maps Test</h1>
		<google-map center="{latitude: 30, longitudde: -98}" zoom="12">

		</google-map>

		</div>
		<div class="row">
		<h2>Test #2</h2>
		<!-- <uiGmapgoogle-maps center="{latitude: 45, longitudde: -100}" zoom="12">

		</uiGmapgoogle-maps> -->

		
		 <ui-gmap-google-map class="col-md-6"
                    center="map.center"
                    zoom="map.zoom"
                    options="map.options"
                    dragging="map.dragging"
                    control="map.control"
                    ng-cloak
                >
            <ui-gmap-marker coords="map.marker2" idkey="map.marker2.id" >
                <ui-gmap-window isIconVisibleOnClick="true">
                    <p ng-cloak>Marker , MAP 1 Clicked on me2!</p>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
	
   
	
<!-- 
    <div class="container main" >
        <form>
            <div class="row">
                <div id="map_canvas" ui-map="model.myMap" class="map" ui-options="mapOptions">
                </div>
                <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]">
                </div>
            </div>
            <div class="row" ng-show="showResult()">
               Latitude: {{lat}} <br />
               Longitude: {{lng}} <br />
               Accuracy: {{accuracy}}
            </div>
            <div class="row" ng-show="!showResult()">
                Error : {{error}}
                Error Code: {{error.code}}
            </div>       
        </form>
    </div>
 -->



	<br>
		</center>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
			
			<h2>Welcome to the Budget IID Online Portal</h2>
			<p>This portal is designed to be your go-to source for information on Budget Ignition Interlock as well as the way that you will log, track, and verify all of your customer appointments, orders, and payments. </p>
			<p>This portal is designed to streamline the process and simplify each step along the way, including: 
			</p>
			</div>
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
			<h3>
			 <ul class="list-unstyled list-info">
			<li>Automatically Sends Calendar Reminders for Upcoming Appointments</li>
			<li>Electronic Signature for Work Authorizations</li>
			<li>Automatic Credit Card/Debit Card Payments</li>
			<li>Work Order & Billing History</li>
			</ul>
			</h3>
			<p>To help you get accustomed to this portal, we've created some training videos that are available to watch 24/7 by clicking the link below:</p>
			<a href="https://www.youtube.com/watch?v=OsK8l4zeWgs&list=PL613fdkLVMF0sOm40UWyJPPTxWcqMhgTE" target="_blank"><i class="fa fa-youtube-play"></i>   Online Training Videos</a>
			
			</div>
		</div>
		<br>
		