
<style>
.whiteBody, .jumbotron{
	background-color: #fff;
	background: #fff;
}
.col-md-4{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
h1, h2, h3{
	color: #333;
}
.main-body{
	background-color: #00759B;
}
.link {
	text-decoration: none;
	cursor: pointer;
}
.angular-google-map-container { 
height: 400px; 
width: 600px;
}
</style>
<section data-ng-controller="HomeController" class="whiteBody">

	<div class="jumbotron">
	<center>
	<img alt="Koro Konnections" class="img-responsive text-center" src="modules/core/img/brand/logo.jpg" />
	<br>

<br>

<div class="container">
	<div class="row">

		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
			
			<h2>Welcome to the Koro Konnections IP Demo Portal</h2>
			<p>This portal is designed to be a simple demonstration of the Koro Konnection IP Monitoring platform. The cloud based environment is designed to provide a central platform for IP Camera monitoring at multiple facilities.
			</p>
			</div>
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
			<h3>
			 <ul class="list-unstyled list-info">
			 <li>View Feed By Location</li>
			 <li>Receive SMS/Email Notifications</li>
			 <li>Watch Live Camera Feeds</li>
			 <li>Watch Previously Recorded Content</li>
			 <li>Remotely Control IP Cameras (Pan, Tilt, Zoom)</li>
			  <li>Two-Way Audio Between Cameras and Users</li>

			</ul>
			</h3>
			
			
			</div>
		</div>
		<br>
		