
<style>
/*.form-group{
    padding: 17px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}*/
.makeMed {
    font-size: 2em;
}
section{
    background-color: #2f9b69;
    min-height: 100%;
}
.nostyle:hover, .nostyle:visited, .nostyle:link, .nostyle:active{
    text-decoration: none;
    cursor: pointer;
}
.bigPad{
    padding-left: 15px;
}
h1, h2, h3{
    color: #333;
}
.stickyTop{
position: absolute;
top: 0px;
left: 0px;
right: 00px;
z-index: 999;

}


.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}
.bordered{
        
        background-color: #888;
}
</style>

    
     



        	<section data-ng-controller="HomeController" data-ng-init="getImage()">


    <div class="main-body">
	<div class="page-header">
			<h2>Live View</h2>
	</div>
	

	<div class="panel panel-primary col-md-10 col-md-offset-1">
        <div class="container text-center">
        	<!-- <img data-ng-src="{{myImage}}" alt="Last Image Taken"> -->
        	<!-- <iframe ng-src="http://63.229.71.113/image/jpeg.cgi">
        		Uo oh
        	</iframe> -->

        	<!-- <img ng-src="data:image/JPEG;base64,http://63.229.71.113/image/jpeg.cgi"> -->
        	<!-- <iframe ng-src="http://63.229.71.113/video/mjpg.cgi" width="650" height="490">
        		Uo oh
        	</iframe> -->
        	<!-- <img ng-src="data:image/JPEG;base64,{{myImage}}"> -->
        	<img ng-src="http://admin:opendoor5@63.229.71.113/video/mjpg.cgi" width="80%">
        	<img ng-src="http://admin:opendoor6@63.229.71.113:81/video/mjpg.cgi" width="80%">

        	<img ng-src="http://admin:openDoor@192.168.0.105/cgi-bin/mjpg/video.cgi" width="80%">
        	<br/>
        	<div>
        		<a ng-click="moveCam('Left')"><i class="fa fa-arrow-circle-left"></i></a>
        		<a ng-click="moveCam('Up')"><i class="fa fa-arrow-circle-up"></i></a>
        		<a ng-click="moveCam('Right')"><i class="fa fa-arrow-circle-right"></i></a>
        		<a ng-click="moveCam('Down')"><i class="fa fa-arrow-circle-down"></i></a>

        	</div>
        	<!-- <img ng-src="http://admin:opendor5@63.229.71.113/image/jpeg.cgi"> -->

        	<br/>
        	<!-- <iframe ng-src="http://admin:openDoor@192.168.0.105/cgi-bin/mjpg/video.cgi" >
        		Uo oh
        	</iframe> -->
	</div>
	</div>
</div>

</section>





