        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i>Dashboard </a></li>
        <li>
            <a href="ui"><i class="fa fa-magic"></i>UI Kit</a>
            <ul>
                <li><a href="#!/ui/buttons"><i class="fa fa-angle-right"></i>UI Kit</a></li>
                <li><a href="#/ui/icons"><i class="fa fa-angle-right"></i>Icons</a></li>
                <li><a href="#!/leads"><i class="fa fa-angle-right"></i>Icons</a></li>
                <li><a href="#/ui/components"><i class="fa fa-angle-right"></i>Components <span class="badge badge-danger">18</span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-angle-right"></i>Widgets <span class="badge badge-success">13</span></a></li>
                <li><a href="#/ui/timeline"><i class="fa fa-angle-right"></i>Timeline</a></li>
                <li><a href="#/ui/nested-lists"><i class="fa fa-angle-right"></i>Nested List</a></li>
                <li><a href="#/ui/pricing-tables"><i class="fa fa-angle-right"></i>Pricing Tables</a></li>
                <li><a href="#/ui/maps"><i class="fa fa-angle-right"></i>Maps <span class="badge badge-warning">2</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-angle-right"></i>Grids</a></li>
                <li><a href="#/ui/typography"><i class="fa fa-angle-right"></i>Typography</a></li>
            </ul>
        </li>
        <li>
            <a href="#!/pages"><i class="fa fa-file-text-o"></i>Pages</a>
            <ul>
                <li><a href="#/pages/signin"><i class="fa fa-angle-right"></i>Sign In</a></li>
                <li><a href="#/pages/signup"><i class="fa fa-angle-right"></i>Sign Up</span></a></li>
                <li><a href="#/pages/forgot-password"><i class="fa fa-angle-right"></i>Forgot Password</a></li>
                <li><a href="#/pages/lock-screen"><i class="fa fa-angle-right"></i>Lock Screen</a></li>
                <li><a href="#/pages/profile"><i class="fa fa-angle-right"></i>User Profile</a></li>
                <li><a href="#/pages/404"><i class="fa fa-angle-right"></i>404 Error</a></li>
                <li><a href="#/pages/500"><i class="fa fa-angle-right"></i>500 Error</a></li>
                <li><a href="#/pages/blank"><i class="fa fa-angle-right"></i>Blank page</a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="fa fa-table"></i>Tables</a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-angle-right"></i>Static Tables</a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-angle-right"></i>Responsive Tables <span class="badge badge-info">2</span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-angle-right"></i>Dynamic Tables</a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-pencil"></i>Forms</a>
            <ul>
                <li><a href="#/forms/layouts"><i class="fa fa-angle-right"></i>Form Layouts</a></li>
                <li><a href="#/forms/elements"><i class="fa fa-angle-right"></i>Form Elements <span class="badge badge-warning">14</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-angle-right"></i>Form Validation</a></li>
                <li><a href="#/forms/wizard"><i class="fa fa-angle-right"></i>Form Wizard</a></li>
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i>Charts</a>
            <ul>
                <li><a href="#/charts/flot"><i class="fa fa-angle-right"></i>Flot Charts</a></li>
                <li><a href="#/charts/morris"><i class="fa fa-angle-right"></i>Morris Charts<</a></li>
                <li><a href="#/charts/charts"><i class="fa fa-angle-right"></i>Other Charts</a></li>
            </ul>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"></i>Mail</a>
            <ul>
                <li><a href="#/mail/inbox"><i class="fa fa-angle-right"></i>Inbox</a></li>
                <li><a href="#/mail/compose"><i class="fa fa-angle-right"></i>Compose</a></li>
                <li><a href="#/mail/single"><i class="fa fa-angle-right"></i>Single Mail</a></li>
            </ul>
        </li>
    </ul>
</div>