
<div class="nav-wrapper" name="nav-wrapper" >

    <ul id="nav"
        class="nav"
        data-ng-controller="NavController"
        data-slim-scroll
        
        data-highlight-active
    
        >
       

         
          <li data-ng-show="authentication.hasRole('manager')===true">
        <a href="#!/offenders"> <i class="fa fa-users"></i>
        <span>Clients</span>
         </a>
         </li>
          <li data-ng-show="authentication.hasRole('manager')===true">
        <a href="#!/shops"> <i class="fa fa-wrench"></i>
        <span>Service Centers</span>
         </a>
         </li >
         <li data-ng-show="authentication.hasRole('manager')===true">
        <a href="#!/devices"> <i class="fa fa-tablet"></i>
        <span>Devices</span>
         </a>
         </li>
                  <li data-ng-show="authentication.hasRole('admin')===true">
        <a href="#!/adminusers"> <i class="fa fa-puzzle-piece"></i>
        <span>Users</span>
         </a>
         </li>
         
        
          <li  data-ng-show="authentication.hasRole('shop')===true">
        <a href="#!/pending"> <i class="fa fa-car"></i>
        <span>Pending Work Orders</span>
         </a>
         </li>
         <li  data-ng-show="authentication.hasRole('shop')===true">
        <a href="#!/lookUpCustomer"> <i class="fa fa-search"></i>
        <span>Customer Search</span>
         </a>
         </li>
         <li  data-ng-show="authentication.hasRole('shop')===true">
        <a href="#!/shopdevices"> <i class="fa fa-tablet"></i>
        <span>Devices</span>
         </a>
         </li>

        
   <!--      <li data-collapse-nav data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" style="color: white; ">
            <a href="#!/{{item.link}}">
                <i class="{{item.icon}}"></i>
                <span data-ng-bind="item.title"></span>
               
            </a>

            <ul data-ng-if="item.menuItemType === 'dropdown'">
                <li data-ng-repeat="subitem in item.items" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                    <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                </li>
            </ul>
        </li> -->

            
    </ul>
</div>
