<section data-ng-controller="DealsController" data-ng-init="findOne()">
    <div class="page-header">
        <!--<h1>Edit {{deal.companyname}} Details</h1>-->
    </div>
    <form class="form-horizontal" data-ng-submit="submitOrder()" novalidate>
    <div class="row">

 <div ng-switch="step">
     <div ng-switch-when="1">
         <div class="col-lg-8 col-lg-offset-2 col-md-6">

         <div class="panel panel-primary">
            <div class="panel panel-heading">
            <h4>Basic Account Information</h4>
            </div>
            <div class="panel-body">

             <fieldset class="form-horizontal">
                <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="companyname">Company Name:</label>
                        <input type="text" data-ng-model="deal.companyname" id="name" class="form-control pull-right" style="width: 50%" class="form-control text-center"d>
                        </div>

                        <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="telephone">Telephone Number:</label>
                        <input type="text" data-ng-model="deal.telephone" class="form-control pull-right" style="width: 50%" >
                        </div>

                    <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="contactname">Primary Contact Name:</label>
                        <input type="text" data-ng-model="deal.contactname" class="form-control pull-right" style="width: 50%" >
                        </div>

                        <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="contactname">Primary Contact Email:</label>
                        <input type="text" data-ng-model="deal.contactemail" class="form-control pull-right" style="width: 50%" >
                        </div>

                   <!--  <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="dealstage">Deal Stage</label>
                        <input type="text" data-ng-model="deal.stage" class="form-control pull-right" style="width: 50%" >
                        </div>

                        <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="projectmanager">Project Manager</label>
                        <input type="text" data-ng-model="deal.projectmanager" class="form-control pull-right" style="width: 50%" >
                        </div> -->
                        <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="website">Website:</label>
                        <input type="text" data-ng-model="deal.website" class="form-control pull-right" style="width: 50%" >
                        </div>
                  
                        </fieldset>
                        <div>
                        <center>

                             <button class="btn btn-w-md btn-gap btn-primary" data-ng-click="nextStep()">Next</button>
                             </center>
                        </div>

    </div></div></div>
    </div>

    <div ng-switch-when="3">
     <div class="col-lg-8 col-lg-offset-2 col-md-6">

     <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h4>Billing Information</h4>
            </div>
        <div class="panel-body">
           <center>
            <p class="centered">Please collect the following information to ensure that the customer's bill is sent the appropriate place, and that Centurylink has the proper contacts for billing questions.
            </p>
             
            </p>
            </center>
            <br>
             <fieldset class="form-horizontal">
             <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="taxid">Federal Tax ID:</label>
                        <input type="text" data-ng-model="deal.taxid" class="form-control pull-right" style="width: 50%" >
                        </div>
                <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="billingcontact">Billing Contact:</label>
                        <input type="text" data-ng-model="deal.billingcontact" class="form-control pull-right" style="width: 50%" >
                        </div>

                        <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="billingtelephone">Billing Telephone:</label>
                        <input type="text" data-ng-model="deal.billingtelephone" class="form-control pull-right" style="width: 50%" >
                        </div>

                    <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="billingemail">Billing Email:</label>
                        <input type="text" data-ng-model="deal.billingemail" class="form-control pull-right" style="width: 50%" >
                        </div>
                     

                         <div class="form-group">
                    <label class="form-label" style="font-size: 24px;" for="address">Billing Address:</label><i>(If different than service address)</i>
                    <div class="form-inline">
                     <input type="text" data-ng-model="deal.billingaddress" id="address" class="form-control" placeholder="Address">
                    <label class="form-label" for="address">City</label>
                        <input type="text" data-ng-model="deal.billingcity" class="form-control" placeholder="City">
                <label class="form-label" for="address">State</label>
                        <input type="text" data-ng-model="deal.billingstate" class="form-control" placeholder="State">
                <label class="form-label" for="address">Zip</label>
                        <input type="text" data-ng-model="deal.billingzipcode" class="form-control" placeholder="Zipcode">
                
                </div>
                        </fieldset>

                        <div>
                        <center>

                              <button class="btn btn-w-md btn-gap btn-primary" data-ng-click="lastStep()">Last Step</button>

                             <button class="btn btn-w-md btn-gap btn-primary" data-ng-click="nextStep()">Next Step</button>
                             </center>
                        </div>


                    </div></div></div></div>

     <div ng-switch-when="5">
     <div class="col-lg-8 col-lg-offset-2 col-md-6">

     <div class="panel panel-primary">
        <div class="panel panel-heading">
           Order Submitted
            </div>
            <div class="panel-body" >
            <center>
            <span data-ng-show="pending"><h2>
             <i class="fa fa-cog fa-spin fa-3x"></i>Converting Order<i class="fa fa-cog fa-spin fa-3x"></i></h2>
             </span>
             <span data-ng-show="sending"><h2>
             <i class="fa fa-cog fa-spin fa-1x" style="vertical-align: middle;"></i>  Sending Order Packet to Customer  <i class="fa fa-cog fa-spin fa-1x" style="vertical-align: middle;"></i></h2>
             </span>
              <span data-ng-show="finished">
             <h2>Order Packet Sent</h2>
             <h4>{{myresponse}}</h4>
             </span>

             </center>

            </div></div></div></div>


  <div ng-switch-when="2">
     <div class="col-lg-8 col-lg-offset-2 col-md-6">

     <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h4>Services Review</h4>
            </div>
            <div class="panel-body" ng-init="dslspeed()">
            <center>
            <p class="centered">Please ensure the services here match the customer's request, this is the official order form which will be sent to Centurylink.
            </p>
             <p class="centered"><b>These fields are editable, please make the proper corrections here.</b>
            </p>

            </center>
            <br>
           
   <!--  <div class="field">
    <h4>Quoted Monthly Cost: {{deal.mrc | currency}}<br>
     Quoted One-Time Cost: {{deal.nrc | currency}}</h4>
     </div> -->
    <div class="field">
    <label class="form-text">DSL Speed:</label>
     
    <input   ng-model="deal.dslspeed" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" />
    </div>

              
    <div class="clearfix"></div> 


            <div class="field">
            <label class="form-text">Additional Lines:</label>
            <input   ng-model="deal.adl" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" />
          </div>
                              <div class="clearfix"></div> 


                <div class="field">
            <label class="form-text">Term:<span id='myphoneError' style='display: none; color: red'>How Long of a Term?</span></label>
          <input   ng-model="deal.term" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" />
             </div>
              <div class="clearfix"></div>   
                  
                        <div class="field">

            <label class="form-text">DSL Modem:<span id='myphoneError' style='display: none; color: red'>What about the modem?</span></label>
            <input   ng-model="deal.modem" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" /></div>
                              
                     <div class="clearfix"></div>
                  
                  <div class="field">
            <label class="form-text">Static IP:<span id='myphoneError' style='display: none; color: red'>What about Static IPs?</span></label>
            <input   ng-model="deal.staticip" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" /></div>
                  
                     <div class="clearfix"></div>
                  
                  
                        <div class="field">
                  <label class="form-text" for="telephone">Waive NRCs:</label>
                  <input   ng-model="deal.waivenrcs" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" />
              </div>
                  
                   <div class="clearfix"></div> 
                        <div class="field">
                  <label class="form-text" for="telephone">Credits Issued:</label>
                  <input   ng-model="deal.winbackcredits" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" />
              </div>
                 
                  <div class="clearfix"></div> 
    

                   <div>
                        <center>

                              <button class="btn btn-w-md btn-gap btn-primary" data-ng-click="lastStep()">Last Step</button>

                             <button class="btn btn-w-md btn-gap btn-primary" data-ng-click="nextStep()">Next Step</button>
                             </center>
                        </div>


    </div></div></div>
    </div>


    <div ng-switch-when="4">
     <div class="col-lg-8 col-lg-offset-2 col-md-6">

             <div class="panel panel-primary">
                <div class="panel panel-heading">
            <h4>Telephone Details</h4>
            </div>
                    <div class="panel-body">

            <h2>Telephone Line Details</h2>

             <div class="field" ng-init="buildDTW()" >
             <div data-ng-repeat="line in deal.lineDetails track by $index" class="panel panel-info">
             Line #{{$index+1}}<br/>
              <label class="form-label" style="font-size: 18px;">Telephone Number</label>
              <input ng-model="line.number" type="text" style="width: 50%;" class="form-control text-center pull-right" />
              <br/>

               <div class="col-lg-5 col-lg-offset-1">
              <label class="form-label" style="font-size: 14px;">Voicemail:</label>
            <label class="switch" style="vertical-align: middle"><input type="checkbox" style="vertical-align: middle" ng-model="line.voicemail" class="pull-right"><i></i></label><br>
            <label class="form-label" style="font-size: 14px;">Call Forwarding:</label>
            <label class="switch" style="vertical-align: middle"><input type="checkbox" style="vertical-align: middle" ng-model="line.esm"><i></i></label><br>

            <label class="form-label" style="font-size: 14px;">Call Transfer/3-Way Calling:</label>
            <label class="switch" style="vertical-align: middle"><input type="checkbox" style="vertical-align: middle" ng-model="line.eo3"><i></i></label><br>
           

            <label class="form-label" style="font-size: 14px;">Caller-ID:</label>
            <label class="switch" style="vertical-align: middle"><input type="checkbox" style="vertical-align: middle" ng-model="line.nnk"><i></i></label>
             </div>
             
                <div class="col-lg-5 col-lg-offset-1">
            <label class="form-label" style="font-size: 14px;">Directory Assistance (6 Free/mo):</label>
            <label class="switch" style="vertical-align: middle"><input type="checkbox" style="vertical-align: middle" ng-model="line.da6"><i></i></label><br>
             <span data-ng-hide="line.hunting==true">
            <label class="form-label" style="font-size: 14px;">Call Waiting:</label>
             <label class="switch" style="vertical-align: middle"><input type="checkbox" style="vertical-align: middle" ng-model="line.cw"><i></i></label>
            <label class="form-label" style="font-size: 14px;">Call Waiting ID:</label>
           <label class="switch" style="vertical-align: middle"><input type="checkbox" style="vertical-align: middle" ng-model="line.cwid"><i></i></label>
         </span>
           <br>
            <span class="form-inline" data-ng-hide="line.cw==true">
             <label class="form-label" style="font-size: 14px;">Hunting:</label>
            <label class="switch" style="vertical-align: middle"><input type="checkbox" ng-model="line.hunting"><i></i></label>
            <span data-ng-show="line.hunting==true">
            <br/>
           <label class="form-label" style="font-size: 14px;">Group:</label>
            <input ng-model="line.huntgroup" type="text" style="width: 25%;" class="form-control text-center">
           <label class="form-label" style="font-size: 14px;">Hunt Order:</label>
            <input ng-model="line.huntorder" type="text" style="width: 25%;" class="form-control text-center">
           </span></span>
             <br/><br/>
             </div>
             <div class="clearfix"></div> 
             </div>


             </div>
             </div>
                   <div>
                        <center>

                              <button class="btn btn-w-md btn-gap btn-primary" data-ng-click="lastStep()">Last Step</button>

                             <button class="submit btn btn-w-md btn-gap btn-primary">Submit Order</button>
                             </center>
                        </div>

                           <div class="panel panel-primary">
                <div class="panel panel-heading">
    <!-- <object data="{{mycontent}}" type="application/pdf" style="width:850px;height:1100px;"></object>
 -->
    </div>  
        </div>

            </div>
        </div>
        </div>
        </div></div>

          <div class="col-lg-8 col-lg-offset-2 col-md-6" data-ng-hide="step===5">

             <div class="panel panel-primary">
                <div class="panel panel-heading">
            <h4>Notes</h4>
            </div>
                    <div class="panel-body">

       
            <div class="form-group">
               
                  <div class="notes">
                    <textarea name="notes" data-ng-model="deal.notes" class="form-control"  style="width: 80%;" rows="5" placeholder="Deal Notes"></textarea>
             
      
        </div>
        </div>

  


                <div class="form-group">
                    <input type="btn-primary" data-ng-click="update()" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>