<section data-ng-controller="DealsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Deals</h1>
    </div>
    <div class="list-group">
   
        <div data-ng-repeat="deal in deals | orderBy: 'stagenum'">
        <div class="list-group-item" data-ng-show="authentication.user.displayName===deal.assignedRep || authentication.hasRole('admin') || authentication.hasRole('manager') || authentication.hasRole('typist')">
         
         <span class="label label-primary pull-right" data-ng-bind="deal.stage"></span>
        
			<small class="list-group-item-text">

				Converted {{today - deal.converted}}Days Ago
				<span data-ng-bind="deal.converted | date:'medium'"></span>
				by
				<span data-ng-bind="deal.assignedRep"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="deal.companyname"></h4>
            <a data-ng-href="#!/deals/{{deal._id}}/edit"> 
            <span class="label label-primary">{{deal.stage}}</span>
        </a>
    </div></div>
    <div class="alert alert-warning text-center" data-ng-hide="!deals.$resolved || deals.length">
    	No Deals yet, why don't you <a href="/#!/deals/create">create one</a>?
    </div>
</section>