<section data-ng-controller="OffendersController" data-ng-init="findOne()">

<style>
.col-md-4, .col-md-8{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
.main-body{
    background-color: #555;
    font-size: 1.25em;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.strike {
  text-decoration: line-through;
}
.done-true  {
    color: #777777;
    text-decoration: line-through;
}
</style>
    <div class="main-body">
        <div class="container">
           
                <div class="panel panel-profile">
                    <fieldset>
                        <div class="panel-heading bg-primary clearfix">
                                    <!-- <a href="" class="pull-left profile">
                                        <img alt="" src="images/g1.jpg" class="img-circle img80_80">
                                    </a> -->
                                    <!-- <div class="pull-left profile">
                                        <i class="fa fa-users text-large stat-icon"></i>
                                    </div> -->
                                    <!-- <span class="pull-left box-icon rounded text-large">
                                        <i class="fa fa-check"></i>
                                    </span> -->
                                    <h4>Customer Information</h4>
                                  
                        </div>
                        <div class="media">
                            <div class="media-body">
                                            <ul class="list-unstyled list-info">
                                                <li>
                                                    
                                                    <label>Name</label>
                                                    <input type="text" ng-model="offender.firstName" ></input>
                                                     <input type="text" ng-model="offender.lastName" ></input>
                                                </li>
                                                <li>
                                                   
                                                    <label>Email</label>
                                                    <input type="text" ng-model="offender.offenderEmail"></input>
                                                    
                                                </li>
                                                <li>
                                                   <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
                                                    <label>Phone</label>
                                                    <input type="text" ng-model="offender.mainPhone"></input>
                                                   
                                                </li>
                                                <li>
                                                   <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
                                                    <label>Alternate</label>
                                                     <input type="text" ng-model="offender.altPhone"></input>
                                                </li>
                                                   <li>
                                                     <li>
                                                   <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
                                                    <label>Driver License Number</label>
                                                     <input type="text" ng-model="offender.driverNumber"></input>
                                                </li>
                                                   <li>
                                                   <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
                                                    <label>Date of Birth</label>
                                                    <input type="text" maxlength="2" style="width:35px" ng-model="offender.dobMO"></input>/
                                                    <input type="text" maxlength="2" style="width:35px" ng-model="offender.dobDAY"></input>/
                                                    <input type="text" maxlength="4" style="width:60px" ng-model="offender.dobYR"></input>
                                                </li>
                                                  <li>
                                                    <label>Client Notes</label>
                                                    <textarea>{{offender.notes}}</textarea>

                                            </ul>



                        </fieldset>
                       

                        <fieldset>
                          <div class="form-group col-md-4" >
                                <label class="control-label" for="name">State Reporting To</label>
                                <div class="controls">
                                           <select data-ng-model="offender.stateReportTo" class="form-control" name="stateReportTo" placeholder="State" ng-options="state for state in states"></select>

                                </div>
                            </div>
                              <div class="form-group col-md-2">
                                <label class="control-label" for="name">Vehicle Year</label>
                                <div class="controls">
                                       {{offender.vehicleYear}}
                                            <select required class="form-control" name="vehicleYear" data-ng-model="offender.vehicleYear" data-ng-options="year for year in vehicleYears"></select>
                                      
                                </div>
                            </div>

                            <div class="form-group col-md-4" >

                                <label class="control-label" for="name">Vehicle Make</label>
                                <div class="controls">
                                     
                                            <select required class="form-control" data-ng-model="offender.vehicleMake" name="vehicleMake" data-ng-options="make for make in vehicles"></select>
                                      
                                </div>
                            </div>
                              <div class="form-group col-md-2">
                                <label class="control-label" for="name">Vehicle Model</label>
                                <div class="controls">  
                                     <input type="text" data-ng-model="offender.vehicleModel"  id="vehicleModel" class="form-control" placeholder="Model S" >
                                       
                                            
                                      
                                </div>
                            </div>
                            </fieldset>
                        <fieldset>
                            <div class="form-group">
                             
                            <label class="form-label" style="font-size: 24px;" for="address">Billing Information:</label><i></i>
                            </div>
                            <div class="form-group">

                              <label>Merchant Customer ID</label>
                                                    <input type="text" ng-model="offender.merchantCustomerId"></input>
                                                    
                            </div>
                            <div class="form-group">

                              <label>Payment Profile ID</label>
                                                    <input type="text" ng-model="offender.paymentProfileId"></input>
                                                    
                            </div>

                            <div class="form-group">
                                <label>Monthly Lease Fee</label>
                                                    <input type="text" ng-model="offender.leaseFee"></input>
                                                    

                                                      <label>Reset Fee</label>
                                                    <input type="text" ng-model="offender.resetFee"></input>
                                                    


                              <label>Bill Date</label>
                                                    <input type="text" ng-model="offender.billDate"></input>
                                                    
                                 <div class="form-inline">
                             
                                <input type="text" data-ng-model="offender.billingAddress" name="billingAddress" id="address" class="form-control" placeholder="Address">
                                
                                <input type="text" data-ng-model="offender.billingCity" class="form-control" placeholder="City">
                                
                                <select data-ng-model="offender.billingState" class="form-control" name="billingState"

                                 placeholder="State" ng-options="state for state in states">
                                 <option value=""></option></select>


                            

                                <input type="text" name="billingZipcode" data-ng-model="offender.billingZipcode" class="form-control" placeholder="Zipcode">
                            
                            </div>
                        </div>

                                          <a class="btn btn-primary btn-center" style="color: #fff;" data-ng-click="update()">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Update Customer Info
            </a>

            </fieldset>
            <br><br>
             <fieldset>
                            <div class="form-group">

                                  <a class="btn btn-primary btn-center" style="color: #fff;" data-ng-click="showCC=true">
                <span class="glyphicon glyphicon-eye" aria-hidden="true"></span> Update Credit Card Data
            </a>

                        <div ng-show="showCC">
                        
                          <div class="form-group col-md-4" >
                                <label class="control-label" for="name">Credit Card Number</label>
                                <div class="controls">
                                           <input type="text" data-ng-model="cardNumber" id="offenderEmail" class="form-control" placeholder="Credit Card Number" maxlength="16">

                                </div>
                            </div>

                          <div class="form-group col-md-2" >
                            <label class="control-label" for="name">Expiration Month</label>
                            <div class="controls">
                                    <select data-ng-model="expMonth" class="form-control" name="expMonth" placeholder="Month" ng-options="month for month in months"></select>


                            </div>
                        </div>

                          <div class="form-group col-md-2" >
                            <label class="control-label" for="name">Expiration Year</label>
                            <div class="controls">
                                     <select data-ng-model="expYear" class="form-control" name="expYear" placeholder="Year" ng-options="year for year in expYears"></select>
                            </div>
                        </div>
                          <div class="form-group col-md-2" >
                            <label class="control-label" for="name">CCV Number</label>
                            <div class="controls">
                                      <input type="text" data-ng-model="cardCVV" name="creditcardCCV" id="creditcardCCV" class="form-control" placeholder="CCV" >

                            </div>
                        </div>
                        <div class="form-group col-md-6">

                                            <a class="btn btn-primary btn-center" style="color: #fff;" data-ng-click="updateCCInfo()">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Update Credit Card Info
            </a>
            </div>


                        </div>
                        </fieldset>



                          
                       
                      

                            
              </div>
                        </fieldset>


                            </div>

                             
                        </div>
                    </fieldset>
                   
                </div>

            </div> 



                        </fieldset>
                    </form>
                

                </div>
                 
            </div> 
           <div class=" clearfix"></div>
            
        <div class="panel panel-primary">
    <div class="panel panel-profile">
                         <accordion close-others="oneAtATime">
                            <accordion-group>
                            <accordion-heading>
                                <div class="col-md-5">

                            Work Order History
                            </div>

                                <div class="col-md-4 text-danger">

                            Pending Work Order
                            </div>

                                <div class="col-md-3" >
                                
                          <a class="btn btn-primary btn-xs pull-right" style="color: #fff;" data-ng-click="open()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Work Order
            </a>
                            </div>
                             <div class=" clearfix"></div>


                            </accordion-heading>
                                         <table class="table table-bordered table-striped table-responsive" data-ng-init="getWorkOrders()">
                    <thead>
                        <tr>
                        <th>
                                <div class="th">
                                    Date
                                 </div>
                            </th>
                            <th>
                                <div class="th">
                                    Type
                                 </div>
                            </th>
                            <th>
                                <div class="th">
                                    Shop 
                            </div>
                            </th>
                            <th>
                                <div class="th">
                                    Charge 
                            </div>
                            </th>
                            <th>
                                <div class="th">
                                    Completed 
                            </div>
                            </th>
                            <th>
                                <div class="th">
                                    Notes 
                            </div>
                            </th>

                                      </tr> 
                    </thead>
                    <tbody>
                        <tr>
                        <td>11/2/2014</td>
                        <td>Installation</td>
                        <td>Fred's Services</td>
                        <td>$96.00</td>
                        <td>Yes</td>
                        <td></td>
                        </tr>

                          <tr>
                        <td>11/7/2014</td>
                        <td>Calibration</td>
                        <td>Fred's Services</td>
                        <td>$0.00</td>
                        <td>Yes</td>
                        <td>No charge - customer install was not up to standards</td>
                        </tr> <tr>
                        <td>11/15/2014</td>
                        <td>Installation</td>
                        <td>Fred's Services</td>
                        <td>$50.00</td>
                        <td>Yes</td>
                        <td>Customer tried to blame the shop again, but we charged him anyway</td>
                        </tr> <tr>
                        <td>12/3/2014</td>
                        <td>Calibration</td>
                        <td>Audio Express</td>
                        <td>$50.00</td>
                        <td>No</td>
                        <td>Pending Work Order</td>
                        </tr>


                        </tbody>
                        </table>

                    </accordion-group>
                    <accordion-group is-open="status.open">
                      
                            <accordion-heading>
                                <div class="col-md-5">

                            Payment History
                            </div>

                                <div class="col-md-4 text-danger">

                            Past Due Balance
                            </div>

                                <div class="col-md-3" >
                                
                          <a class="btn btn-primary btn-xs pull-right" style="color: #fff;" data-ng-click="remove();">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Make Payment
            </a>

                            </div>
                             <div class=" clearfix"></div>
                        </accordion-heading>

                         <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                        <th>
                                <div class="th">
                                    Date
                                 </div>
                            </th>
                            <th>
                                <div class="th">
                                    Type
                                 </div>
                            </th>
                            <th>
                                <div class="th">
                                    Reason 
                            </div>
                            </th>
                            <th>
                                <div class="th">
                                    Amount 
                            </div>
                            </th>
                            <th>
                                <div class="th">
                                    Account Balance 
                            </div>
                            </th>
                            <th>
                                <div class="th">
                                    Notes 
                            </div>
                            </th>

                                      </tr> 
                    </thead>
                    <tbody>
                        <tr>
                        <td>11/2/2014</td>
                        <td>Charge</td>
                        <td>Sign-Up</td>
                        <td>$96.00</td>
                        <td>$96.00</td>
                        <td></td>
                        </tr>

                         <tr>
                        <td>11/3/2014</td>
                        <td>Payment</td>
                        <td>Install</td>
                        <td>$96.00</td>
                        <td>$0.00</td>
                        <td>Work Authorized</td>
                        </tr>

                         <tr>
                        <td>11/15/2014</td>
                        <td>Charge</td>
                        <td>Reset</td>
                        <td>$50.00</td>
                        <td>$50.00</td>
                        <td></td>
                        </tr>

                                             <tr>
                        <td>12/1/2014</td>
                        <td>Charge</td>
                        <td>Monthly Fee</td>
                        <td>$95.00</td>
                        <td>$145.00</td>
                        <td></td>
                        </tr>


                        </tbody>
                        </table>





                    </accordion-group>
                  </accordion>
                </div>
        </div>
      
        <div class="pull-right" data-ng-show="authentication.user._id == offender.user._id">
            <a class="btn btn-primary" href="/#!/offenders/{{offender._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <small>
            <em class="text-muted">
                Posted on
                <span data-ng-bind="offender.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="offender.user.displayName"></span>
            </em>
        </small>



    

    <script type="text/ng-template" id="checkOutDevice.html">
       
        <div class="modal-header">

            Checkout Device for {{offender.firstName}} {{offender.lastName}}
        </div>
        <div class="modal-body">
        <p>Please enter the Serial Number of the device that you are installing here</p>        
         <label>Device Serial Number</label>
              
                <input type="text" data-ng-model="deviceSN" class="form-control" placeholder="Serial Number" >
               

<br>
                 <label>Device Notes</label>
                <textarea type="text" data-ng-model="deviceNotes"  id="deviceNotes" class="form-control" placeholder="Cracked Screen/Faulty Cord, etc" >

                </textarea>
                
                  


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="deviceCheckout()">Check-Out Device</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>



    <script type="text/ng-template" id="setApptModal.html">
       
        <div class="modal-header">

            New Work Order for {{offender.firstName}} {{offender.lastName}}
        </div>

        <div class="modal-body">
    


         <div class="input-group ui-datepicker" ng-click="openCalendar($event)" ng-init="findWorkOrder()">
                    <span class="input-group-addon" ><i class="fa fa-calendar"></i></span>
                    <input type="text" 
                           class="form-control "
                           datepicker-popup="{{format}}"
                           ng-model="dt"
                           is-open="opened"
                           min="minDate"
                           max="'2016-06-22'"
                           datepicker-options="dateOptions"
                           ng-required="true" 
                           close-text="Close"
                           style="width: 65%"
                           name="ApptDate"
                           >
                   
                     


                </div>

                   <div ng-model="mytime" ng-change="changed()" style="display:inline-block;" >
                    <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></timepicker>
                </div>  
                

                <br>
                Set the Date and Time for this Appointment
            </div>
             <div class="modal-footer">
            <button class="btn btn-primary" ng-click="schedule()">Set Appointment</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>


</script>



    <script type="text/ng-template" id="myModalContent.html">
       
        <div class="modal-header">

            New Work Order for {{offender.firstName}} {{offender.lastName}}
        </div>
        <div class="modal-body">
      
        
         <label>Work Order Type</label>
              <select class="form-control" data-ng-model="chosen" name="chosen" data-ng-options="item for item in items" data-ng-change="changeType()"></select>
<br>
               <label>Submitting To</label>
              <select class="form-control" data-ng-model="sendTo" name="sendTo" data-ng-options="sendto for sendto in sendToOptions" data-ng-change="changeWho()"></select>
<br>
                <span data-ng-show="!whomCus">
                <label>Recipient Name</label>
                <input type="text" data-ng-model="toWhoName"  id="toWhoName" class="form-control" placeholder="Name" >
                </span>

<br>

                <label>Service Center</label>
                <input type="text" data-ng-model="serviceCenter"  id="serviceCenter" class="form-control" placeholder="Service Center" >

<br>
               <label>Email Address</label>
                <input type="text" data-ng-model="emailAddress"  id="emailAddress" class="form-control" placeholder="Email Address" >

<br>
                <label>Email Subject</label>
                <input type="text" data-ng-model="emailSubject"  id="emailSubject" class="form-control" placeholder="{{chosen}} Authorization" >
<br>
                <label>Email Text</label>
                <textarea type="text" data-ng-model="emailText"  id="emailText" class="form-control" placeholder="Hi {{offender.firstName}}..." >

                </textarea>
                                <br>
                <label>Email Signature</label>
               <br>
                {{authentication.user.displayName}}<br/>
                 {{authentication.user.telephone}}<br/>
                  {{authentication.user.email}}<br/>
                  


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Approve</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

        <script type="text/ng-template" id="agreement.html">
       
        <div class="modal-header">

            <label>Secure Customer Authorization</label>
        </div>
        <div class="modal-body">
        <center>
      <label>Please choose how the customer shall sign the Work Order Authorization. There are three options:</label>
      </center>
      <br/>
      <ul>
      <li>Customer eSigns from their Smartphone/Tablet/Laptop</li>
      <li>Customer eSigns on this machine</li>
      <li>Customer signs on paper, you can print the authorization from here</li>
      </ul>
      <br/>

      <span data-ng-show="showE">
       <label>Email Address</label>
                <input type="text" data-ng-model="offender.offenderEmail"  id="emailAddress" class="form-control" placeholder="Email Address" >
                <button class="btn btn-info" ng-click="sendingEmail()">Send Authorization</button>
        </span>        
    

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="showE=true">Send eSign Request</button>
           <button class="btn btn-warning" ng-click="eSignHere()">eSign Here</button>
            <button class="btn btn-info" ng-click="printAuth()">Print Authorization</button>

        </div>
    </script>



    <script type="text/ng-template" id="completeOrder.html">
       
        <div class="modal-header">

            <label>Confirm Work Order Completion</label>
        </div>
        <div class="modal-body">
        <center>
      Now that the work is complete, it is time to bill the customer. Please confirm the Certified Technician who completed the work order below!
      </center>
        
        
            
<br/><br/>
<label>Certified Technician's Name</label>
               <input type="text" data-ng-model="techName"  id="techName" class="form-control" placeholder="Tech Name" >
               <br/>

                <label>Notes</label>
                <textarea type="text" data-ng-model="orderNotes"  id="orderNotes" class="form-control" placeholder="Anything to note?" >

                </textarea>
                                <br>
                <center>
                 By confirming completion below, you are certifying that the work order is complete and up to the Budget IID standards. Customer will be charged within 24 hours for this service.
                 </center>
                  


        </div>
        <div class="modal-footer">

            <button class="btn btn-primary" ng-click="complete()">Confirm Completion</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>



    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>



    </div> 
    </div></div>
         
        </div>
    </div> 
        
</section>

