<style>
.h1{
color: #333;
}
</style>
<section data-ng-controller="OffendersController" data-ng-init="findPending()">
    <div class="page-header">
        <h1 style="color: #333;">Pending Customers</h1>
           
    </div>


    <section class="panel panel-default table-dynamic" >
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Clients</strong>
              
        <a  href="/#!/offenders/create" class="btn btn-primary btn-sm" style="color: #fff;" >Add New Client</a>
   
  
          </div>
          <div class="panel-body">
        
            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="tableData.searchKeywords"
                               data-ng-keyup="searchPending()">
                        {{tableData.searchKeywords}}
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                        <span>
                            Showing {{currentPageOffenders.length}}/{{filteredOffenders.length}} Matches
                        </span>              
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Customer Name
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('firstName') "
                                      data-ng-class="{active: row == 'firstName'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-firstName') "
                                      data-ng-class="{active: row == '-firstName'}"></span>
                            </div>
                        </th>
                        <th>
                         <div class="th">
                                Type of Appointment
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('pendingWorkType') "
                                      data-ng-class="{active: row == 'pendingWorkType'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-pendingWorkType') "
                                      data-ng-class="{active: row == '-pendingWorkType'}"></span>
                            </div>
                        </th>
                    <th>
                         <div class="th">
                                Appointment Date
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('apptDate') "
                                      data-ng-class="{active: row == 'apptDate'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-apptDate') "
                                      data-ng-class="{active: row == '-apptDate'}"></span>
                            </div>
                        </th>
          
                        <th>
                            <div class="th">
                                Telephone
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('telephone') "
                                      data-ng-class="{active: row == 'telephone'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-telephone') "
                                      data-ng-class="{active: row == '-telephone'}"></span>
                            </div>
                        </th>
                              <th>
                            <div class="th">
                                City
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('city') "
                                      data-ng-class="{active: row == 'city'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-city') "
                                      data-ng-class="{active: row == '-city'}"></span>
                            </div>
                        </th>
                              <th>
                            <div class="th">
                                State
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('state') "
                                      data-ng-class="{active: row == 'state'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-state') "
                                      data-ng-class="{active: row == '-state'}"></span>
                            </div>
                        </th>
                           

                    </tr> 
                </thead>
                
                <tbody>
                    <tr data-ng-repeat="item in currentPageOffenders" >
                    <td><a data-ng-click="setCurrentOffender()" href="#!/customer/{{item._id}}">{{item.firstName}} {{item.lastName}}</a></td>
                    <td>{{item.pendingWorkType}}</td>
                    <td>{{item.apptDate}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.mainPhone}}</td>
                    <td>{{item.billingCity}}</td>
                    <td>{{item.billingState}}</td>
                    

                        
                    
                   
                    </tr>
                </tbody>
            </table>
           
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Show 
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select> 
                            clients per page
                        </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredOffenders.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>

        </div>
</section>