<section data-ng-controller="OffendersController" data-ng-init="findOne()">

<style>
.col-md-4{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
h1, h2, h3{
	color: #333;
}
.main-body{
	background-color: #555;
}
</style>
	<div class="main-body">
	    <div class="container">
	    	<div class="text-center bg-danger" data-ng-show="pastDue">
	    	<h3>Past Due</h3>
	    	
	    	</div>
		<div class="panel panel-primary">
	       <!--  <div class="panel panel-heading">
	            
	                <h2>{{offender.firstName}} {{offender.lastName}}</h2>


	            
	        </div> -->
	    	<div class="col-md-4">
	            <div class="panel panel-profile">
	                <fieldset>
	                    <div class="panel-heading bg-primary clearfix">
	                                <!-- <a href="" class="pull-left profile">
	                                    <img alt="" src="images/g1.jpg" class="img-circle img80_80">
	                                </a> -->
	                                <!-- <div class="pull-left profile">
	                                    <i class="fa fa-users text-large stat-icon"></i>
	                                </div> -->
	                                <!-- <span class="pull-left box-icon rounded text-large">
	                                    <i class="fa fa-check"></i>
	                                </span> -->
	                                <h4>Customer Information</h4>
	                              
	                    </div>
	                    <div class="media">
	                        <div class="media-body">
	                                        <ul class="list-unstyled list-info">
	                                            <li>
	                                                
	                                               <label>Name</label>
                                                    <input ng-model="offender.displayName" cb:inline ng-blur="saveMe()"></input>
                                                   
                                                </li>
                                                <li>
                                                   
                                                    <label>Email</label>
                                                    <input ng-model="offender.offenderEmail" cb:inline ng-blur="saveMe()"></input>
                                                    
	                                            </li>
	                                            <li>
	                                               <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
	                                                <label>Phone</label>
	                                               
	                                                <input ng-model="offender.mainPhone" cb:inline ng-blur="saveMe()"></input>

	                                            </li>
	                                            <li>
	                                               <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
	                                                <label>Alternate</label>
	                                                
	                                                 <input ng-model="offender.altPhone" cb:inline ng-blur="saveMe()"></input>
	                                            </li>
	                                               <li>
	                                               <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
	                                                <label>Date of Birth</label>
	                                                {{offender.dobMO}}/{{offender.dobDAY}}/{{offender.dobYR}}
	                                               
	                                            </li>
	                                            <li>
	                                               <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
	                                                <label>Driver License Number</label>
	                                                {{offender.driverNumber}}
	                                               
	                                            </li>

	                                        </ul>
	                        </div>
	                    </div>
	        		</fieldset>
	               
	            </div>
	        </div> 

	        <div class="col-md-4">
	            <div class="panel panel-profile">
	   	            <fieldset>

	                    <!-- Pofile panel -->
	                    <!-- <div class="panel panel-profile"> -->
	                        <div class="panel-heading bg-primary clearfix">
	                            <!-- <a href="" class="pull-left profile">
	                                <img alt="" src="images/g1.jpg" class="img-circle img80_80">
	                            </a> -->
	                            <!-- <div class="pull-left profile">
	                                <i class="fa fa-users text-large stat-icon"></i>
	                            </div> -->
	                            <!-- <span class="pull-left box-icon rounded text-large">
	                                <i class="fa fa-check"></i>
	                            </span> -->
	                            <h4>Device Information</h4>
	                          
	                        </div>
	                    	<div class="media">
	                      
	                            <div class="media-body">
	                                <ul class="list-unstyled list-info">
	                                    <li>
	                                        
	                                        <label>Type</label>
	                                        Brac Auditlock 1
	                                    </li>
	                                    <li>
	                                       
	                                        <label>Reports To</label>
	                                        {{offender.stateReportTo || 'N/A'}}
	                                    </li>
	                                    <li>
	                                       <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
	                                        <label>Deployed</label>
	                                        {{offender.created | date: 'MMM d, yyyy' || 'N/A'}}
	                                    </li>
	                                    <li>
	                                       <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
	                                        <label>Next Lock-Out</label>
	                                        12/15/2014
	                                    </li>
	                                    <li> <label>Device Issues</label>
	                                        <select data-ng-model="deviceIssue" style="width: 60%" class="form-control pull-right" name="deviceIssues" ng-options="issue for issue in deviceIssues"></select>


	                                    </li>

	                                </ul>
	                            </div>
	                        </div>
	                </fieldset>
	               
	            </div>
	        </div> 


	        <div class="col-md-4">
	            <div class="panel panel-profile">

	                <form name="form"  class="form-horizontal form-validation" novalidate>
	                    <fieldset>

	                        <!-- Pofile panel -->
	                        <!-- <div class="panel panel-profile"> -->
	                            <div class="panel-heading bg-primary clearfix">
	                                <!-- <a href="" class="pull-left profile">
	                                    <img alt="" src="images/g1.jpg" class="img-circle img80_80">
	                                </a> -->
	                                <!-- <div class="pull-left profile">
	                                    <i class="fa fa-users text-large stat-icon"></i>
	                                </div> -->
	                                <!-- <span class="pull-left box-icon rounded text-large">
	                                    <i class="fa fa-check"></i>
	                                </span> -->
	                                <h4>Vehicle Information</h4>
	                              
	                            </div>
	                            <div class="media">
	                              
	                                    <div class="media-body">
	                                        <ul class="list-unstyled list-info">
	                                            <li>
	                                                
	                                                <label>Year</label>
	                                                {{offender.vehicleYear}}
	                                            </li>
	                                            <li>
	                                               
	                                                <label>Make</label>
	                                                {{offender.vehicleMake || 'N/A'}}
	                                            </li>
	                                            <li>
	                                               <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
	                                                <label>Model</label>
	                                                {{offender.vehicleModel || 'N/A'}}
	                                            </li>
	                                          <!--   <li>
	                                              <span class="icon glyphicon glyphicon-envelope"></span> 
	                                                <label>Alternate</label>
	                                                <span style="text-transform: capitalize"> {{offender.altPhone || 'N/A'}}</span>
	                                            </li> -->
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>

	                    </fieldset>
	                </form>
	            

	            </div>
	             
	        </div> 
	       <div class=" clearfix"></div>
	    	
		<div class="panel panel-primary">
	<div class="panel panel-profile">
				         <accordion close-others="oneAtATime">
				            <accordion-group>
				            <accordion-heading>
				            	<div class="col-md-5">

				            Work Order History
				            </div>

				            	<div class="col-md-4 text-danger">
				            	<span data-ng-show="offender.pendingWorkOrder">
				            Pending Work Order
				            </span>
				            </div>

				             	<div class="col-md-3" >
				             	
				          <a class="btn btn-primary btn-xs pull-right" style="color: #fff;" data-ng-click="open()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Work Order
			</a>
				            </div>
				             <div class=" clearfix"></div>


				            </accordion-heading>
				     			         <table class="table table-bordered table-striped table-responsive" data-ng-init="getWorkOrders()">
	                <thead>
	                    <tr>
	                    <th>
	                            <div class="th">
	                                Date
	                             </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Type
	                             </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Shop 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Charge 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Status 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Notes 
	                        </div>
	                        </th>

	                                  </tr> 
	                </thead>
	                <tbody>
	                    <tr data-ng-click="pickWO($index)" data-ng-repeat="wo in workorders track by $index">
	                    <td>{{wo.apptDate | date: 'short'}}</td>
	                    <td>{{wo.type}}</td>
	                    <td>{{wo.serviceCenter}}</td>
	                    <td>${{wo.amount | number: '2'}}</td>
	                    <td>{{wo.status}}</td>
	                    <td>{{wo.orderNotes}}</td>
	                    
	                    </tr>

	                  

	                    </tbody>
	                    </table>

				    </accordion-group>
				    <accordion-group is-open="status.open">
				      
				            <accordion-heading>
				            	<div class="col-md-5">

				            Payment History
				            </div>

				            	<div class="col-md-4 text-danger" >
				            	<span data-ng-show="pastDue">
				            Past Due Balance
				            </span>
				            </div>

				             	<div class="col-md-3" >
				             	
				          <a class="btn btn-primary btn-xs pull-right" style="color: #fff;" data-ng-click="openPmt()">
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Make Payment
			</a>

				            </div>
				             <div class=" clearfix"></div>
				        </accordion-heading>

				         <table class="table table-bordered table-striped table-responsive" data-ng-init="getPayments()">
	                <thead>
	                    <tr>
	                       <th>
	                            <div class="th">
	                                Date Created
	                             </div>
	                        </th>
	                    <th>
	                            <div class="th">
	                               Due Date
	                             </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Fee Type
	                             </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Payment Type 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Amount 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Status
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Notes 
	                        </div>
	                        </th>

	                                  </tr> 
	                </thead>
	                <tbody>
	                    <tr data-ng-click="getPmtDetail($index)" data-ng-repeat="pmt in payments track by $index">
	                    <td>{{pmt.created | date: 'MM/dd/yyyy hh:mm:ss'}}</td>
	                     <td>{{pmt.dueDate | date: 'MM/dd/yyyy'}}</td>
	                    <td>{{pmt.pmtType}}</td>
	                    <td>{{pmt.pmtOpt}}</td>
	                    <td>${{pmt.amount}}</td>
	                    <td>{{pmt.status}}</td>
	                    <td>{{pmt.notes}}</td>
	                    </tr>



	                    </tbody>
	                    </table>





				    </accordion-group>
				  </accordion>
	      		</div>
	    </div>
	  
	    <div class="pull-right">
			<a class="btn btn-primary" href="/#!/offenders/{{offender._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="offender.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="offender.user.displayName"></span>
			</em>
		</small>


    <script type="text/ng-template" id="workOrderModal.html">
       
        <div class="modal-header">
        	<span class="small pull-right">
        	    <label>Logged in as </label>
        	    {{authentication.user.displayName}}
        	    </span>
        	    <h3>Work Order Details</h3>
        	    <div class="pull-right">
        	     <a class="btn btn-danger" data-ng-click="remove();">
				Delete Work Order:<i class="glyphicon glyphicon-trash"></i>
			</a></div>
			<br>
            
        </div>
        <div class="modal-body">
      
        <br>
        <label>Customer: </label>{{offender.displayName}}<br>
        <label>Service Type: </label>{{workorder.type}}<br>
        <label>Status: </label>{{workorder.status}}<br>
        <label>Apointment Date: </label>{{workorder.apptDate}}<br>
        <label>Service Fee: </label> <input type="text" ng-model="workorder.amount"/><br>
        <label>Created by: </label>{{workorder.user.displayName}}



<br>

	<label>Service Center</label>
				<select class="form-control" data-ng-model="serviceCenter" name="Shops" data-ng-options="shop as (shop.name+' - '+shop.address+' '+shop.city+', '+shop.state) for shop in shops" data-ng-change="changeSvcCenter()"></select>
        	   

<br>

        	    <label>Notes</label>
        	    <textarea type="text" data-ng-model="workorder.orderNotes"  id="orderNotes" class="form-control" placeholder="Notes...reasons for making change" >

        	    </textarea>
                                <br>

        	      


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"  ng-click="ok()">Save Workorder</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <script type="text/ng-template" id="myModalContent.html">
       
        <div class="modal-header">

            New Work Order for {{offender.firstName}} {{offender.lastName}}
        </div>
        <div class="modal-body">
      
        
         <label>Work Order Type</label>
        	  <select class="form-control" data-ng-model="chosen" name="chosen" data-ng-options="item for item in items" data-ng-change="changeType()"></select>
        	
<br>
<span data-ng-show="chosen==='New Install'">
         <label>Install Fee</label>
        	  <input type="text" data-ng-model="installFee"  id="installFee" class="form-control" placeholder="80" >
        	<br>
           <label>Term of Service</label>
        	  <select class="form-control" data-ng-model="term" name="term" data-ng-options="term for term in termoptions"> <option value=""></option></select>
<br> 

</span>
        	   <label>Submitting To</label>
        	  <select class="form-control" data-ng-model="sendTo" name="sendTo" data-ng-options="sendto for sendto in sendToOptions" data-ng-change="changeWho()"> <option value=""></option></select>
<br>
				<span data-ng-show="!whomCus">
				<label>Recipient Name</label>
        	    <input type="text" data-ng-model="toWhoName"  id="toWhoName" class="form-control" placeholder="Name" >
        	    <br></span>



				<label>Service Center</label>
				<select class="form-control" data-ng-model="serviceCenter" name="Shops" data-ng-options="shop as (shop.name+' - '+shop.address+' '+shop.city+', '+shop.state) for shop in shops" data-ng-change="changeSvcCenter()"></select>
        	   

<br>
        	   <label>Email Address</label>
        	    <input type="text" data-ng-model="emailAddress"  id="emailAddress" class="form-control" placeholder="Email Address" >

<br>
        	    <label>Email Subject</label>
        	    <input type="text" data-ng-model="emailSubject"  id="emailSubject" class="form-control" placeholder="{{chosen}} Authorization" >
<br>
        	    <label>Email Text</label>
        	    <textarea type="text" data-ng-model="emailText"  id="emailText" class="form-control" placeholder="Hi {{offender.firstName}}..." >

        	    </textarea>
                                <br>
        	    <label>Email Signature</label>
        	   <br>
        	    {{authentication.user.displayName}}<br/>
        	     {{authentication.user.telephone}}<br/>
        	      {{authentication.user.email}}<br/>
        	      


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"  ng-click="ok()">Send Form</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>





    <script type="text/ng-template" id="pmtModalContent.html"  data-ng-init="getPayments()">
       
        <div class="modal-header">
            New Payment for {{offender.firstName}} {{offender.lastName}}
        </div>
        <div class="modal-body">
        	<div class="col-md-12">
        	<span data-ng-show="!hide">
        	   <br>
        	   <h3>What are we paying for?</h3>
        	  
        	   <div class="panel-primary">
        	   <div class="content">
       		 <table class="table table-bordered table-striped table-responsive">
	                <thead>
	                    <tr>
	                    <th>
	                            <div class="th">
	                                Due Date
	                             </div>
	                        </th>
	                       
	                        <th>
	                            <div class="th">
	                                Charge 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Status 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Notes 
	                        </div>
	                        </th>

	                                  </tr> 
	                </thead>
	                <tbody>
	                    <tr data-ng-repeat="wo in payments track by $index" data-ng-click="chooseRow($index)">
	                    <td>{{wo.dueDate | date: 'short'}}</td>
	                   
	                    <td>${{wo.amount | number: '2'}}</td>
	                    <td>{{wo.status}}</td>
	                    <td>{{wo.notes}}</td>
	                    
	                    </tr>

	                  

	                    </tbody>
	                    </table>
	                    </div>
	                   </div>
      
        </span>

        	</div>

        	  <span data-ng-show="hide" >
        	 
        	 <br>
        	  <div class="row">
        	   <div class="col-md-6"> 
        	   <label>Payment Creation Date:</label> {{pmtchosen.created | date: 'MM/dd/yyyy'}}<br>
        	   <label>Due Date: </label> {{pmtchosen.dueDate | date: 'MM/dd/yyyy'}}<br>
        	   <label>Amount Due: </label>  {{pmtchosen.amount | currency}}<br>

        	   

        	   
        	   <br>
        	   </div>

        	    <div class="col-md-6"> 
        	    Work Order ID: {{wochosen._id}}<br>
        	    Service Center: {{serviceCenter.name}}<br>
        	    Address: {{serviceCenter.address}} 
        	   {{serviceCenter.city}}, {{serviceCenter.state}}

        	   {{workorder}}

        	   
        	   <br>
        	   </div>
        	   </div>
        	  
        	   </span>
       

        <div class="row">
        <div class="col-md-6"> 
        	    <label>Amount: </label>
        	  <input type="text" data-ng-model="pmtAmount"  id="" class="form-control" placeholder="Amount" >
        	
        	    </div>
        	   

        	   <div class="col-md-6"> 
        	

			<label>Payment Type:</label>
        	  <select class="form-control" data-ng-model="pmtOpt"  data-ng-options="item for item in pmtOpts" ><option value=""></option></select>

        	  </div>
        	  </div>

        	 
        	 
        	 <br>
        	  <div class="row">
        	  


        	    <span data-ng-show="pmtOpt==='Check'" >
        	     <div class="col-md-6"> 
 <label>Check Number: </label>
        	  <input type="text" data-ng-model="checkNum"  id="" class="form-control" placeholder="Check Number" >
        	
        	   </div>
        	  

        	   </span>


        	    </div>
        	   
        	            	     <div data-ng-show="pmtOpt==='Credit Card'" >
        	            	     <br>
        	     	<div class="panel-primary">
        	     	    
        	            	     	 

                        
                          <div class="form-group col-md-4" >
                                <label class="control-label" for="name">Credit Card Number</label>
                                <div class="controls">
                                           <input type="text" data-ng-model="offenderCC" id="offenderEmail" class="form-control" placeholder="Credit Card Number" maxlength="16">

                                </div>
                            </div>

                          <div class="form-group col-md-2" >
                            <label class="control-label" for="name">Expiration Month</label>
                            <div class="controls">
                                    <select data-ng-model="expMonth" class="form-control" name="expMonth" placeholder="Month" ng-options="month for month in months"></select>


                            </div>
                        </div>

                          <div class="form-group col-md-2" >
                            <label class="control-label" for="name">Expiration Year</label>
                            <div class="controls">
                                     <select data-ng-model="expYear" class="form-control" name="expYear" placeholder="Year" ng-options="year for year in expYears"></select>
                            </div>
                        </div>

                          <div class="form-group col-md-2" >
                            <label class="control-label" for="name">CCV Number</label>
                            <div class="controls">
                                      <input type="text" data-ng-model="creditCardCCV" name="creditcardCCV" id="creditcardCCV" class="form-control" placeholder="CCV" >

                            </div>
                        </div>
                           <div class="form-group col-md-6" >
                                <label class="control-label" for="name">Name on Card</label>
                                <div class="controls">
                                           <input type="text" data-ng-model="cardName" id="cardName" class="form-control" placeholder="Name on Card" maxlength="16">

                                </div>
                            </div>

                         <div class="form-group col-md-6" >
                            <label class="control-label" for="name">Zip Code</label>
                            <div class="controls">
                                      <input type="text" data-ng-model="cardZip" name="cardZip" id="creditcardCCV" class="form-control" placeholder="Card Zipcode" >

                            </div>
                        </div>


                        <br>
                        <a class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="chargeCard('new')">
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Charge Card
			</a>
                   <br>  
                   <span data-ng-show="offender.cardNumber">
                   {{offender.cardNumber}}
                   <a class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="chargeCard('onfile')">
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Use Card On-File
			</a>
			</span>
        	  
        	  </div>
        	  
        	  <br>
        	   </div>


        	   <br>
        	   <div class="row">
        	   <div class="col-md-12">
        	   <label>Payment Notes</label>
        	    <textarea type="text" data-ng-model="payment.notes"  id="notes" class="form-control" placeholder="Notes..." >

        	    </textarea>
        	    </div>
        	   </div>

        <div class="modal-footer">
            <button class="btn btn-primary"  ng-click="makePmt()">Confirm Payment</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>



	</div> 
	</div></div>
	     
	    </div>
	</div> 
		
</section>




    <script type="text/ng-template" id="pmtDetailContent.html">
       
        <div class="modal-header">
        <span class="small pull-right">
            <label>Logged In-As</label>
        	 
        	    {{authentication.user.displayName}}
        	    </span>

        	    <center>

        	      <br>
        	      <h2>Payment Detail</h2>
        	      </center>
        </div>
        <div class="modal-body">
      	<label>Status:</label>
      	{{payment.status}}<br>

      	<label>Status:</label>
      	{{payment.status}}<br>

      	<label>Notes:</label>
      	{{payment.notes}}<br>

      	<label>Due Date:</label>
      	<input type="text" ng-model="payment.dueDate"/><br>

      	<label>Paid Date:</label>
      	{{payment.paidDate}}<br>

      	<br><br>
    
 
        	   



        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"  ng-click="ok()">Save Payment</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
