<style>
.panel-primary > .panel-heading {
    background-color: #273b42;
    border-color: #ddd;
}
.btn-primary{
  background-color: #273b42;
}
.btn-primary:hover{
  background-color: #ec5f3c;
}
.container-body{
     background-color: #333;
}

</style>

<section data-ng-controller="ShopsController">
<div class="container-body">
    <div class="container">
            <div class="panel panel-primary">
               <div class="panel-heading">
                 <h2>Add New Shop</h2>
                </div>
        <div class="panel-body">
  
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <div class="col-md-8 col-md-offset-2">
                      
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Shop Name" required/>
                                </div>
                            </div>
                     <div class="row">
                        <div class="col-md-5 pull-left">
                            <div class="form-group">
                                <label class="control-label" for="name">Primary Contact (Owner)</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="primarycontactname" class="form-control" placeholder="Contact Name" required/>
                                </div>
                            </div>
                        </div>

                          
                        <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Phone Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="telephone" class="form-control" placeholder="Shop Phone Number"  required/>
                                </div>
                            </div>

                        </div>
                         <div class="col-md-5 pull-left">


                              <div class="form-group">
                                <label class="control-label" for="name">Alternate Contact (Manager)</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="altcontactname" id="name" class="form-control" placeholder="Alternate Contact"/>
                                </div>
                            </div>
                        </div>



                         <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Alternate Phone Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="alttelephone" class="form-control" placeholder="Alt Phone Number"  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                     <div class="col-md-5 pull-left">


                              <div class="form-group">
                                <label class="control-label" for="name">Trained Installer Name </label>
                                <div class="controls">
                                    <input type="text" data-ng-model="techname" id="name" class="form-control" placeholder="Trained Technician" />
                                </div>
                            </div>
                        </div>



                         <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Technician Phone Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="techphone" class="form-control" placeholder="Tech Phone Number" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-5 pull-left">
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Fax Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="fax" class="form-control" placeholder="Fax Number" />
                                </div>
                            </div>

                           
                        </div>

                        <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Email</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="email"  class="form-control" placeholder="Shop Email Address" required/>
                                </div>
                            </div>

                        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                 <label class="form-label" for="address">Shop Address:</label>
                                  <input type="text" data-ng-model="address" class="form-control" placeholder="Address" required/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="address">City:</label>
                                <input type="text" data-ng-model="city" class="form-control" placeholder="City" required/>
                            </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <label class="form-label" for="address">State:</label>
                               <select class="form-control" ng-model="shop.state" ng-options="state.abr as state.name for state in states"></select>  

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label" for="address">Zipcode:</label>
                                <input type="text" data-ng-model="zipcode" class="form-control" placeholder="Zipcode" required/>
                            </div>
                        </div>
                    </div>
                           <a class="btn btn-primary btn-center" style="color: #fff;" data-ng-click="create()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Shop
            </a>
                </div>
               
            </form>
           
        </div>
    </div>


</section>