<section data-ng-controller="ShopsController" data-ng-init="findOne()">
    
    <style>
.panel-primary > .panel-heading {
    background-color: #273b42;
    border-color: #ddd;
}
.btn-primary{
  background-color: #273b42;
}
.btn-primary:hover{
  background-color: #ec5f3c;
}
.container-body{
     background-color: #333;
}

</style>

<section data-ng-controller="ShopsController">
<div class="container-body">
    <div class="container">
            <div class="panel panel-primary">
               <div class="panel-heading">
                 <h2>Edit Shop Details</h2>
                </div>
        <div class="panel-body">
          <a class="glyphicon glyphicon-arrow-left" href="#!/shops/{{shop._id}}" aria-hidden="true">Back</a><br><br>
          <div class="col-md-6">

                    <a  class="btn btn-primary btn-xs" style="color: #fff;" data-ng-click="sendContract();">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Re-send Service Center Agreement
            </a> <br>
               <a  class="btn btn-primary btn-xs" style="color: #fff;" data-ng-click="sendPortal()">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Send Portal Invitation
            </a> 
            </div>
              <div class="col-md-6">

            <div data-ng-show="!shop.signDate">
             <label class="switch" style="vertical-align: middle"> Signed Manually:<input type="checkbox" style="vertical-align: middle" data-ng-click="signedManual=true" ng-model="nothing"><i></i></label>

              <div data-ng-show="signedManual" class="input-group ui-datepicker" ng-click="open($event)">
                   Contract Signed Date: <input type="text" 
                           class="form-control pull-right"
                           datepicker-popup="{{format}}"
                           ng-model="dt"
                           is-open="opened"
                           min="minDate"
                           max="'2016-06-22'"
                           datepicker-options="dateOptions"
                           ng-required="true" 
                           close-text="Close"
                           style="width: 65%"
                           name="FLUPDate">
                    <span class="input-group-addon" ><i class="fa fa-calendar"></i></span>

                
               <br> <a class="glyphicon glyphicon-thumbs-up" href="#!/shops/{{shop._id}}"  aria-hidden="true" data-ng-click="signedUp();">Mark as Signed-Up</a>
            
                     
            </div>
            </div>
                </div>
  
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <div class="col-md-8 col-md-offset-2">
                      
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.name" id="name" class="form-control" placeholder="Shop Name" required/>
                                </div>
                            </div>
                     <div class="row">
                        <div class="col-md-5 pull-left">
                            <div class="form-group">
                                <label class="control-label" for="name">Primary Contact (Owner)</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.primarycontactname" class="form-control" placeholder="Contact Name" required/>
                                </div>
                            </div>
                        </div>

                          
                        <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Phone Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.telephone" class="form-control" placeholder="Shop Phone Number"  required/>
                                </div>
                            </div>

                        </div>
                         <div class="col-md-5 pull-left">


                              <div class="form-group">
                                <label class="control-label" for="name">Alternate Contact (Manager)</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.altcontactname" id="name" class="form-control" placeholder="Alternate Contact"/>
                                </div>
                            </div>
                        </div>



                         <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Alternate Phone Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.alttelephone" class="form-control" placeholder="Alt Phone Number"  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                     <div class="col-md-5 pull-left">


                              <div class="form-group">
                                <label class="control-label" for="name">Trained Installer Name </label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.techname" id="name" class="form-control" placeholder="Trained Technician" />
                                </div>
                            </div>
                        </div>



                         <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Technician Phone Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.techphone" class="form-control" placeholder="Tech Phone Number" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-5 pull-left">
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Fax Number</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.fax" class="form-control" placeholder="Fax Number" />
                                </div>
                            </div>

                           
                        </div>

                        <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label class="control-label" for="name">Shop Email</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="shop.email"  class="form-control" placeholder="Shop Email Address" required/>
                                </div>
                            </div>

                        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                 <label class="form-label" for="address">Shop Address:</label>
                                  <input type="text" data-ng-model="shop.address" class="form-control" placeholder="Address" required/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="address">City:</label>
                                <input type="text" data-ng-model="shop.city" class="form-control" placeholder="City" required/>
                            </div>
                        </div>
                        <div class="col-md-3">
                             <div class="form-group">
                                <label class="form-label" for="address">State:</label>
                                <select class="form-control" ng-model="shop.state" ng-options="state.abr as state.name for state in states">
                                      <option value=""></option>
                                </select>  
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label" for="address">Zipcode:</label>
                                <input type="text" data-ng-model="shop.zipcode" class="form-control" placeholder="Zipcode" required/>
                            </div>
                        </div>
                    </div>
                           <a class="btn btn-primary btn-center" style="color: #fff;" data-ng-click="update()">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Update Details
            </a>
                </div>
               
          
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>