

<style>
body{
	font-size: 2em;
}
.col-md-4{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
.main-body{
	background-color: #555;
}
h3, h4 {
	color: #565;

}
h4{
	text-decoration: none;
	cursor: pointer;
}
.stickyTop{
position: fixed;
top: 0px;
left: 0px;
right: 00px;
z-index: 999;

}
.signUpButton{
	background-color: #888;
	color: #898;
	position: fixed;
	padding: 5px;
	left: 0px;
	top: 25%;
	border-width: 3px;
	border-color: #333;
	border-radius: 10px;
	width: 13%;
	z-index: 999;

}
.modal-dialog{
	width: 90%;
}

.largeText {
	font-size: 1.5em;
	vertical-align: text-bottom;
	cursor: pointer;
}
.tiny {
	font-size: .5em;
}
</style>
<script src="../../angular-file-upload.js"></script>

<section data-ng-controller="ShopsController" data-ng-init="findOne()">

	<div class="main-body" >

	 



	<alert type="success" class="text-center" data-ng-show="seeSA">
	Congratulations, the agreement has been sent to {{shop.primarycontactname}} ({{shop.email}}) from {{shop.name}}. If you'd like to review the agreement that was sent out, please click the button below. <br>
<a class="btn btn-primary btn-sm" style="color: #fff;" ng-click="seeAgreement()">View Agreement</a>
</alert>
	    <div class="container-fluid">
	    <div class="row">
	     <h2>Service Center Details - {{shop.name}}</h2>
	     </div>
	    <alert type="warning" class="text-center" data-ng-show="!shop.complete===true">
		Just a head's up, it appears that this Service Center is not complete:<br>
		
	      <a  class="btn btn-primary btn-sm" data-ng-show="!shop.signDate" style="color: #fff;" data-ng-click="sendContract();">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Send Service Center Agreement
			</a>  

				<!--       <a class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="setHours();">
				<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Set Hours of Operation
			</a>  -->

				      <a  data-ng-show="!haveFiles" class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="uploadPhotos();">
				<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Upload Insurance Docs
			</a>   

				<!--       <a  data-ng-show="!haveFiles" class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="uploadPhotos();">
				<span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Lease
			</a>    -->

				      <a data-ng-show="!havePhotos" class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="uploadPhotos();">
				<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Upload Photos
			</a>   
			

			

			</alert>
			     <a  data-ng-show="shop.signDate && shop.agreementSent && !shop.counterSigned && authentication.hasRole('admin')===true" class="btn btn-default btn-sm" style="color: #333;" data-ng-click="counterSignShopAgreement();">
				<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Counter-Sign & Approve
			</a> 
			<!-- Sign Date: {{shop.signDate | date: 'short'}}<br>
Agreement Sent: {{shop.agreementSent}}<br>
			Counter-Signed: {{shop.counterSigned}}<br>
			Complete: {{shop.complete}} -->
	    	<!-- <div class="text-center bg-danger">
	    	<h3>Past Due</h3>
	    	</div> -->
		<div class="panel panel-primary">
	       
	    
	            <div class="panel panel-profile">

	                <fieldset>
	             	    <a class="btn btn-default btn-xs pull-right" style="color: #222;" href="/#!/shops/{{shop._id}}/edit">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit Details
			</a>
	                  	<accordion close-others="oneAtATime">
				            <accordion-group>
				            <accordion-heading>
				           <div class="col-md-5">

				           <h4> Service Center General Information</h4>
				            </div>

				            	<div class="col-md-4 text-danger">
				            	<span data-ng-show="!shop.complete">Not Complete</span>
				           
				            </div>

				             	<div class="col-md-3" >
				             	
				         

				            </div>
				             <div class=" clearfix"></div>
				            	
				             

				            </accordion-heading>

	                                        <ul class="list-unstyled list-info">
	                                            <li class="list-item">

	                                                
	                                                <label class="list-item">Service Center Name</label>
	                                                <input ng-model="shop.name" ng-blur="saveMe()" cb:inline></input>
	                                            </li>
	                                            <li class="list-item">
	                                               <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
	                                                <label>Phone</label>
	                                                <input ng-model="shop.telephone" cb:inline ng-blur="saveMe()"></input>

	                                            </li>
	                                            <li>
	                                               
	                                                <label>Email</label>
	                                                <input ng-model="shop.email" cb:inline ng-blur="saveMe()"></input>
	                                            </li>
	                                           <li class="list-item">
	                                               <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
	                                                <label>Primary Contact</label>
	                                                <input ng-model="shop.primarycontactname" cb:inline ng-blur="saveMe()"></input>
	                                               
	                                            </li>
	                                             <li>
	                                               <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
	                                                <label>Alternate Contact</label>
	                                                
	                                                <input ng-model="shop.altcontactname" cb:inline ng-blur="saveMe()"></input>
	                                            </li>
	                                          <li class="list-item">
	                                               <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
	                                                <label>Alternate Phone</label>
	                                                
	                                                 <input ng-model="shop.alttelephone" cb:inline ng-blur="saveMe()"></input> 
	                                            </li>
	                                             <li>
	                                               <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
	                                                <label>Fax</label>
	                                                
	                                                 <input ng-model="shop.fax" cb:inline ng-blur="saveMe()"></input> 
	                                            </li>
	                                            <li>
	                                               <!--  <span class="icon glyphicon glyphicon-envelope"></span> -->
	                                                <label>Notes</label>
	                                                
	                                                 <textarea  class="form-control"  rows="3" ng-model="shop.notes" placeholder="Shop Notes" ng-blur="saveMe()"></textarea> 
	                                            </li>
	                                              
	                                        </ul>


				    </accordion-group>
				    <accordion-group is-open="status.open">
				      
				            <accordion-heading>
				            	<div class="col-md-5">

				           <h4> Address & Hours of Operation</h4>
				            </div>

				            	<div class="col-md-4 text-danger">

				         
				            </div>

				             	<div class="col-md-3" >
				             	
				        
				            </div>
				             <div class=" clearfix"></div>
				        </accordion-heading>

				         <ul class="list-unstyled list-info">
	                                    <li>
	                                        
	                                        <label>Address</label>
	                                   
	                                           <input ng-model="shop.address" cb:inline ng-blur="saveMe()"></input> 
	                                           
	                                       	 <input ng-model="shop.city" cb:inline ng-blur="saveMe()"></input>  <select ng-model="shop.state" ng-options="state.abr as state.name for state in states" cb:inline ng-blur="saveMe()"></select>  <input ng-model="shop.zipcode" cb:inline ng-blur="saveMe()" maxlength="5"></input> 
	                                    <br>
	                                    <label>District/Jurisdiction</label>
	                                   
	                                           <input ng-model="shop.district" cb:inline ng-blur="saveMe()"></input> 
	                                        
	                                    </li>
	                                     <label>Hours of Operation</label>
	                                    <li>
	                                       
	                                       
	                                        <br>
	                                    
	                                        <label>Monday</label><input ng-model="shop.hoursMon" cb:inline ng-blur="saveMe()" ></input>
	                                        <br>
	                                    
	                                        <label>Tuesday</label><input ng-model="shop.hoursTue" cb:inline ng-blur="saveMe()" ></input>
	                                    <br>
	                                       <label>Wednesday</label><input ng-model="shop.hoursWed" cb:inline ng-blur="saveMe()" String></input>
	                                        <br>
	                                    
	                                        <label>Thursday</label><input ng-model="shop.hoursThu" cb:inline ng-blur="saveMe()" String></input>
	                                    <br>
	                                       <label>Friday</label><input ng-model="shop.hoursFri" cb:inline ng-blur="saveMe()" String></input>
	                                        <br>
	                                    
	                                        <label>Saturday</label><input ng-model="shop.hoursSat" cb:inline ng-blur="saveMe()" String></input>
	                                    <br>
	                                        <label>Sunday</label><input ng-model="shop.hoursSun" cb:inline ng-blur="saveMe()" String></input>
	                                         <br>
	                                    </li>

	                      			       
	                                    
	                                     <label>Shop Rates</label>
	                                    <li>
	                                    <input ng-model="shop.rate" cb:inline ng-blur="saveMe()" String></input>
	                                    </li>

	                                    

	                                </ul>





				  


				    </accordion-group>

				    <accordion-group>
				      
				            <accordion-heading>
				            	<div class="col-md-5">

				           <h4>Files & Photos</h4>
				            </div>

				            	<div class="col-md-4 text-danger">

				         
				            </div>

				             	<div class="col-md-3" >
				             	 <a class="btn btn-default btn-sm" ng-click="uploadPhotos()"> 
	                                        Add File
	                                        </a>
				        
				            </div>
				             <div class=" clearfix"></div>
				        </accordion-heading>


										   <table class="table table-bordered table-striped table-responsive" data-ng-show="myUploads">
	                                      <thead>
	                                      <tr>
	                                     
	                                      <th>Filename</th>
	                                       <th>Description </th>
	                                      <th>File Size </th>
	                                      <th>Created</th>
	                                      <th>Delete</th>
	                                      </tr>
	                                      </thead>
	                                      <tbody>
	                                      <tr ng-repeat="file in myUploads track by $index">

	                                      
	                                     
	                                        
	                                        <td>
	                                          <a ng-click="dlUpload(file._id, file.FileName)"> 
	                                       {{file.FileName}}
	                                        </a>
	                                       
	                                         </td>
	                                        <td>
	                                        <input ng-model="file.desc" data-ng-blur="saveUpload(file._id, file.desc);" cb:inline></input>
	                                      
	                                        <td>
	                                        {{(file.size/1024)/1000 | number:2}}MB

	                                       </td>
	                                       <td>
	                                       {{file.created | date:'MM/dd/yy hh:mma'}}
	                                       </td>
	                                       
	                                       <td >
	                                       <a style="cursor: pointer; text-decoration: none;" data-ng-click="deleteFile(file._id, $index)"class="glyphicon glyphicon-trash"></a>
	                                       </td>
	                                        </tr>
	                                        </tbody>
	                                        </table>
														








				                      <li data-ng-show="shop.signDate">
	                                       <!--  <span class="icon glyphicon glyphicon-earphone"></span> -->
	                                        <label>Sign-Up Date</label>
	                                        {{shop.signDate | date: 'MMM d, yyyy' || 'N/A'}}
	                                    
	                                    
	                                        <br>
	                                         <label>Service Agreement</label>
	                                        
	                                     <a data-ng-click="downloadSA(shop._id)">Download Signed Agreement

									</a>
									<br>
									    <a  class="btn btn-primary btn-xs" style="color: #fff;" data-ng-click="sendContract();">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Re-send Service Center Agreement
			</a> 
														</li>


									    <li >
	                                      
	                                        <br>
	                                        <center>
	                                        <a class="btn btn-primary btn-xs" ng-click="uploadPhotos()"> 
	                                        Add File
	                                        </a>
	                                        </center>
	                                    							</li>

				  </accordion>     
	        		</fieldset>
	               
	            </div>
	        </div> 

	
	
	    <div class="pull-right" data-ng-show="authentication.user._id == shop.user._id">
			<a class="btn btn-primary" href="/#!/shops/{{shop._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small class="tiny">
			<em class="text-muted">
				Posted on
				<span data-ng-bind="shop.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="shop.user.displayName"></span>
				<br> You are viewing this site on {{deviceType}}<br>
				
			</em>
		</small>


		<!-- <div class="signUpButton" data-ng-show="!hideeSign">
		<center>
		Service Center Checklist
		</center>
		<ul>
		<li>Shop Name</li>
		<li>Shop Name</li>
		<li>Shop Name</li>
		<li>Shop Name</li>
		<li>Shop Name</li>
		<li>Shop Name</li>

		</ul>
		
			<br>
			<span style="font-size: 8px; color: #fff">
			You will be emailed a signed copy to {{shop.email}}
			</span>
			
	</div> -->

	<script type="text/ng-template"  ng-class="modal-sm" id="hoursModal.html">
	<style>
	.modal-dialog{
		width: 50%;
	}
	.container-sm{
		width: 50%;
		align: center:
		text

	}
	table, th, td {
		padding: 3px;
		border: 1px solid black;
		table-layout: fixed;
		width: 80%;
	}
	td{
		display: table-cell;
		width: 100%;
	}
	</style>
	<center>
	<div class="container-sm">
            <div class="row">
            	
	           	 
            	<h4>Set Hours of Operation</h4>
				
				<table align="center">
					<thead>
					<tr>
						<th>Day</th>
						<th>Open</th>
						<th>Close</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td><label>Monday</label></td>
							<td>{{shop.hours.Monday.open}}</td>
							<td>5pm</td>
						</tr>
						<tr>
							<td><label>Tuesday</label></td>
							<td>8am</td>
							<td>5pm</td>
						</tr>
						<tr>
							<td><label>Wednesday</label></td>
							<td>8am</td>
							<td>5pm</td>
						</tr>
						<tr>
							<td><label>Thursday</label></td>
							<td>8am</td>
							<td>5pm</td>
						</tr>
						<tr>
							<td><label>Friday</label></td>
							<td>8am</td>
							<td>5pm</td>
						</tr>
						<tr>
							<td><label>Saturday</label></td>
							<td>8am</td>
							<td>5pm</td>
						</tr>
						<tr>
							<td><label>Sunday</label></td>
							<td>8am</td>
							<td>5pm</td>
						</tr>
					</tbody>
				</table>
 				<div class="modal-footer">
            <button class="btn btn-primary" ng-click="makeHours()">Approve</button>
            <button class="btn btn-warning" ng-click="close()">Cancel</button>
        </div>
       
			</div>
			</div>
			</center>
	</script>
    
    <script type="text/ng-template" id="myModalContent.html">
		<!DOCTYPE html>
   

        <style>
            .my-drop-zone { border: dotted 3px lightgray; }
            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
            .another-file-over-class { border: dotted 3px green; }
            html, body { height: 100%; }
            canvas {
                background-color: #f3f3f3;
                -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
                -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
                box-shadow: 3px 3px 3px 0 #e3e3e3;
                border: 1px solid #c3c3c3;
                height: 100px;
                margin: 6px 0 0 6px;
            }
        </style>

    </head>

    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
    <body nv-file-drop="" uploader="uploader">

        <div class="container">
        
           

            <div class="row">

            	 

                <div class="col-md-10 col-md-offset-1" style="margin-bottom: 40px">
                    
                    	

	

                    <h4>Upload Service Center Photos & Documents (.JPG/.PNG/.GIF/.PDF)</h4>
                 
                 	<input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>


                    <p>Items to Upload: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    
                                    
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                     
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>
                <button class="btn btn-warning" ng-click="close()">Close</button>

            </div>
           
        </div>

    </body>
</html>
			
    </script>




	</div> 
	</div></div>
	     
	    </div>
	</div> 
		
</section>

