<style>
.col-md-4{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
h1, h2, h3{
    color: #333;
}
.main-body{
    background-color: #555;
}
</style>

<!-- <section data-ng-controller="DevicesController"> -->
   
               
        <div class="modal-header">

            Add New Device 
        </div>
        <div class="modal-body">


            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="name">Type</label>
                        <div class="controls">
                            <select class="form-control" data-ng-model="deviceType" name="devicetype" data-ng-options="type for type in typeOfDevices"> <option value=""></option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Serial Number:</label><small>Numbers Only</small>
                        <div class="controls">
                            BA<input type="text" data-ng-model="deviceSN" name="deviceSN" placeholder="Device Serial Number"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Notes</label>
                        <div class="controls">
                           <input type="text" data-ng-model="deviceNotes" name="deviceNotes" placeholder="Device Notes"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default">
                    </div>
    				<div data-ng-show="error" class="text-danger">
    					<strong data-ng-bind="error"></strong>
    				</div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>
    </div></div></div></div>
</section>