<style>
.col-md-4{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
h1, h2, h3, h4{
    color: #333;
}
.main-body{
    background-color: #555;
}
td{
    font-size: 1em;

}
.scroll{
overflow: scroll;  
height: auto; 
min-height: 100px; 
max-height: 300px;
}

</style>
<section data-ng-controller="DevicesController" data-ng-init="find()">
    
    <div class="container">
      
               <div class="panel panel-primary">
               <div class="panel-header">
                    <h1>Current Inventory of Devices</h1>
               
 
         <div class="row">
    <div class="col-md-4">
     <a  href="/#!/devices" class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="openModal('checkin')">Add New Device</a>
     </div>

    <div class="col-md-4">
     <a  href="/#!/devices" class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="openModal('ship')">Ship Device(s) to Service Center</a>
   </div>
       <div class="col-md-4">
     <a  href="/#!/devices" class="btn btn-primary btn-sm" style="color: #fff;" data-ng-click="openModal('repair')">Send Device(s) Out for Repair</a>
   </div>
    </div>
    </div>
    <div class="panel panel-primary">

    <div class="list-group">
        <a data-ng-repeat="device in devices" data-ng-href="#!/devices/{{device._id}}" class="list-group-item">
			{{device.type}} - {{device.serialNumber}}
            <br>{{device.status}}<br>
            {{device.notes}}<br>

            <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="device.created | date:'medium'"></span>
				by
				<span data-ng-bind="device.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="device.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!devices.$resolved || devices.length">
    	No Devices yet, why don't you <a href="/#!/devices/create">create one</a>?
    </div>
    </div>
    </div>
    </div>
    </section>



     <script type="text/ng-template"  class="modal modal-wide fade" id="myModalContent.html">
       
        <div class="modal-header" ng-init="getDevices()">
        <h2>
            {{headingtext}}
            </h2>
        </div>
        <div class="modal-body">
            
    

        <div class="row">
        <div class="col-md-6">
            <h3>Choose Service Center:</h3>
            <select class="form-control" data-ng-model="serviceCenter" name="Shops" data-ng-options="shop as (shop.name+' - '+shop.address+' '+shop.city+', '+shop.state) for shop in shops | orderBy: shop.name" data-ng-change="changeSvcCenter()"></select>
            </div>
             <div class="col-md-6">
            <h3>Serivce Center Shipping Details:</h3>
            <label>{{serviceCenter.name}}</label><br>
            {{serviceCenter.address}}<br>
             {{serviceCenter.city}},  {{serviceCenter.state}}  {{serviceCenter.zipcode}}


            </div>

            </div>
        <div class="row " >

        <div class="col-md-6 scroll" >

        <h3>Choose Device</h3>
            <div class="alert alert-warning text-center" data-ng-hide="!availableDevices.$resolved || availableDevices.length">No Available Devices in Inventory
        </div>
            <table class="table"  >
            <tr data-ng-repeat="device in availableDevices track by $index"><td>
            {{device.type}} </td>
            <td>{{device.serialNumber}} </td>
            <td>{{device.status}}</td>
            <td colspan="2">       <button class="btn btn-secondary"  ng-click="addDevice($index)">Select</button>            </td>
            </tr>
            </table>
            
        </div>
            <div class="col-md-6 scroll">
            <h3>Devices to Ship</h3>
                <div class="alert alert-warning text-center" data-ng-hide="devicesToShip.length ">No Devices for Shipping
        </div>
             <table class="table">
            <tr data-ng-repeat="device in devicesToShip track by $index"><td>
            {{device.type}} </td>
            <td>{{device.serialNumber}} </td>
            <td>{{device.status}}</td>
            <td colspan="2">       <button class="btn btn-secondary"  ng-click="remDevice($index)">Remove</button>            </td>
            </tr>
            </table>
            
        </div>
        </div>


        </div>
         <div class="modal-footer">
            <button class="btn btn-primary"  ng-disabled="!devicesToShip || !serviceCenter" ng-click="ok()">Submit</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

    </script>
