
<style>
/*.form-group{
    padding: 17px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}*/
.makeMed {
    font-size: 2em;
}
.main-body{
    background-color: #555;
    min-height: 100%;
}
.nostyle:hover, .nostyle:visited, .nostyle:link, .nostyle:active{
    text-decoration: none;
    cursor: pointer;
}
.bigPad{
    padding-left: 15px;
}
h1, h2, h3{
    color: #333;
}
.stickyTop{
position: absolute;
top: 0px;
left: 0px;
right: 00px;
z-index: 999;

}
</style>
<section data-ng-controller="DevicesController" data-ng-init="findOne()">
	
    <div class="main-body">
      
 
<div class="row">


    <div class="container">
     
               <div class="panel panel-primary">
                  <div class="panel-body">

		
		<h1 data-ng-bind="device.type"></h1>
		<h1 data-ng-bind="device.notes"></h1>
		<h1 data-ng-bind="device.serialNumber"></h1>
		<h1 data-ng-bind="device.status"></h1>


		 <table class="table table-bordered table-striped table-responsive" >
	                <thead>
	                    <tr>
	                   
	                    <th>
	                            <div class="th">
	                                Date
	                             </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Type
	                             </div>
	                        </th>
	                       
	                      
	                        <th>
	                            <div class="th">
	                                Destination 
	                        </div>
	                        </th>
	                        <th>
	                            <div class="th">
	                                Requestor 
	                        </div>
	                        </th>
	                         <th>
	                            <div class="th">
	                                Notes 
	                        </div>
	                        </th>

	                        

	                                  </tr> 
	                </thead>
	                <tbody>
	                    <tr data-ng-repeat="device in device.details track by $index">
	                    	
	                    <!-- <td class="link"><a data-ng-click="pickWO($index)">Edit</a></td> -->
	                    <td>{{device.updated | date: 'short'}}</td>
	                    <td>{{device.type}}</td>
	                    
	                   <td>{{device.destination}}</td>
	                    <td>{{device.requestor}}</td>
	                    <td>{{device.notes}}</td>
	                    
	                    </tr>

	                  

	                    </tbody>
	                    </table>

	                     <div class="form-group col-md-12">
                                     <textarea data-ng-model="device.notes" class="form-control" placeholder="Device Notes..." ></textarea>
                              </div>

                               <button type="button" class="btn btn-primary btn-xs" ng-click="update()"><i class="glyphicon glyphicon-save"></i>Save Changes</button>


	</div>
	
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="device.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="device.user.displayName"></span>
		</em>
		<div confirm-delete on-confirm="remove()"></div>
	
	</small>
</div>
</div>
</section>