<section data-ng-controller="AdminusersController" ng-init="init()">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-user"></span> Users</strong></div>
     

               <div class="panel-body">
        
            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="tableData.searchKeywords"
                               data-ng-keyup="search()">
                        {{tableData.searchKeywords}}
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                        <span>
                            Showing {{currentPageUsers.length}}/{{filteredUsers.length}} Matches
                        </span>              
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Name
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('firstName') "
                                      data-ng-class="{active: row == 'firstName'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-firstName') "
                                      data-ng-class="{active: row == '-firstName'}"></span>
                            </div>
                        </th>
                  
          
                        <th>
                            
                            <div class="th">
                                Username
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('username') "
                                      data-ng-class="{active: row == 'username'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-username') "
                                      data-ng-class="{active: row == '-username'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Telephone
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('telephone') "
                                      data-ng-class="{active: row == 'telephone'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-telephone') "
                                      data-ng-class="{active: row == '-telephone'}"></span>
                            </div>
                        </th>
                              <th>
                            <div class="th">
                                Email
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('email') "
                                      data-ng-class="{active: row == 'email'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-email') "
                                      data-ng-class="{active: row == '-email'}"></span>
                            </div>
                        </th>
                                <th>
                            <div class="th">
                                Role
                                <span class="fa fa-angle-up"
                                       data-ng-click=" order('roles.length') "
                                      data-ng-class="{active: row == 'roles'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-roles.length') "
                                      data-ng-class="{active: row == 'roles'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Assigned to Shop
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('shopName') "
                                      data-ng-class="{active: row == 'shopName'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-shopName') "
                                      data-ng-class="{active: row == '-shopName'}"></span>
                            </div>
                        </th>
                           

                    </tr> 
                </thead>
                
                <tbody>
                    <tr data-ng-repeat="item in currentPageUsers" >
                    <td><a data-ng-click="setCurrentOffender()" href="#!/users/{{item._id}}/edit">{{item.displayName}}</a></td>
                    <td>{{item.username}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.roles}}</td>
                    <td>{{item.shopName}}</td>
                    </tr>
                </tbody>
            </table>
           
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Show 
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select> 
                            clients per page
                        </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredUsers.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>

        </div>



        
        </div>
    </section>
