<section data-ng-controller="AdminusersController" ng-init="find()">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-user"></span> Users</strong></div>
     
            <div class="list-group">
                <a data-ng-repeat="user in users" data-ng-href="#!/users/{{user._id}}/" class="list-group-item">
                  <small class="pull-right list-group-item-text">
                  Created: <span data-ng-bind="user.created"></span>
                  </small>
                <h3 data-ng-bind="user.displayName"></h3>
               

                    <small class="list-group-item-text">
                       Username: <span data-ng-bind="user.username"></span><br>
                       Email: <span data-ng-bind="user.email"></span><br>
                       Telephone: <span data-ng-bind="user.telephone"></span>
                    </small>
                
            </div>
            <div class="alert alert-warning text-center" data-ng-hide="!leads.$resolved || leads.length">
                No Leads yet, why don't you <a href="/#!/leads/create">create one</a>?
            </div>
        </div>
  
            <button class="btn btn-w-md btn-gap btn-info" data-ng-click="notify('info')">info message</button>
            <button class="btn btn-w-md btn-gap btn-success" data-ng-click="notify('success')">success message</button>
            <button class="btn btn-w-md btn-gap btn-warning" data-ng-click="notify('warning')">warning message</button>
            <button class="btn btn-w-md btn-gap btn-danger" data-ng-click="notify('error')">error message</button>
            <div class="callout callout-info">
                <p>Notification will show in lower right corner.</p>
            </div>
        </div>
    </section>
