<section data-ng-controller="DestroysController" data-ng-init="find()">
    <div class="page-header">
        <h1>Destroys</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="destroy in destroys" data-ng-href="#!/destroys/{{destroy._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="destroy.created | date:'medium'"></span>
				by
				<span data-ng-bind="destroy.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="destroy.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!destroys.$resolved || destroys.length">
    	No Destroys yet, why don't you <a href="/#!/destroys/create">create one</a>?
    </div>
</section>