
<style>
/*.form-group{
    padding: 17px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}*/
.makeMed {
    font-size: 2em;
}
section{
    background-color: #146586;
    min-height: 100%;
}
.nostyle:hover, .nostyle:visited, .nostyle:link, .nostyle:active{
    text-decoration: none;
    cursor: pointer;
}
.bigPad{
    padding-left: 15px;
}
h1, h2, h3{
    color: #333;
}
.stickyTop{
position: absolute;
top: 0px;
left: 0px;
right: 00px;
z-index: 999;

}


.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}
.bordered{
        
        background-color: #888;
}
</style>
 <section data-ng-controller="ClonesController" data-ng-init="getMommys()">

     <div class="main-body">
           <div class="page header">
            <h2>Create New Clones</h2>
           </div> 

     <div class="panel panel-primary col-md-10 col-md-offset-1">
        <div class="container">
          <div class="col-md-12">
            <div class="col-md-5">
                <h3>Choose an Existing Mother to Clone?</h3>
                 <p>    <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Mother</label>
                    <div class="controls">
                       <select data-ng-model="cloneMommy"
                                    data-ng-options="mom as (mom.strain+' '+mom.plantId+' ('+mom.motherId+')') for mom in allOurMothers"
                                    >
                            </select> 
                    </div>
                </div>
               

            </fieldset>
             <button class="btn btn-info center-block" data-ng-disabled="!cloneMommy" data-ng-click="makeClonesFromMom()">Create Clones</button>
        </form>
    </p>
        </div>
        <div class="col-md-1"></div>
         <div class="col-md-5">
                <h3>Manually Enter Mother's Information:</h3>
                <p>
                     <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Strain</label>
                    <div class="controls">
                        <input type="text" data-ng-model="strain" id="strain" class="form-control" placeholder="Strain Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Mother ID</label>
                    <div class="controls">
                        <input type="text" data-ng-model="motherId" id="motherId" class="form-control" placeholder="Mother ID">
                    </div>
                </div>

            </fieldset>
             <button class="btn btn-info center-block" data-ng-disabled="!motherId || !strain" data-ng-click="readyToCreate=true">Create Clones</button>
        </form>
    </p>

        </div>


    </div>
    
    <div class="clearfix"><br/><br/></div>
      <div class="panel panel-primary">
          <div class="container">
    <div class="col-md-12" data-ng-show="readyToCreate">
       <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal">
            <fieldset>
               <h4>Strain: {{strain}} &nbsp;&nbsp;
              Mother Id: {{motherId}}</h4>
                <div class="form-group">
                    <label class="control-label" for="name">Box ID</label>
                    <div class="controls">
                        <input type="text" data-ng-model="boxId" id="boxId" class="form-control" placeholder="Box ID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Puck Location</label>
                    <div class="controls">
                        <input type="text" data-ng-model="puckLocation" id="puckLocation" class="form-control" placeholder="Puck Location">
                    </div>
                </div>
                 <div class="form-group">
                    <button class="btn primary" data-ng-disabled="!puckLocation || !boxId" data-ng-click="create()">Create Clone</button>
                 </div>
                
            </fieldset>
        </form>
    </div>
    
    </div>
    <div class="col-md-12">
         <hr>
         <div class="text-center">
            <h3>Recently Created Clones</h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <span ng-repeat="clone in newClones">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="panel mini-box link">
               <!--  <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-success">
                    <i class="fa fa-wrench"></i>
                </span> -->
                <div class="box-info">
                    <p class="size-h4">{{clone.strain}}</p>
                    <p class="text-muted"><label>Box:</label> {{clone.boxId}}<br/><label>Puck: </label>{{clone.puckLocation}}</p>
                    <p class="text-center"><small>{{clone.motherId}}</small></p>

                </div>
            </div>
        </div>

        </span>
        </div>

    
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
    </div>
</div>
</div>
</div>
</section>