<section data-ng-controller="TimecardsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Shifts (Clock-Ins and Outs)</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="timecard in timecards" data-ng-href="#!/timecards/{{timecard._id}}" class="list-group-item">
			<small class="list-group-item-text">
            <h4 class="list-group-item-heading" data-ng-bind="timecard.name"></h4>
            Clock-In: {{timecard.start | date: 'medium'}} <br>
            Clock-Out: {{timecard.end | date: 'medium'}}<br>
            Shift Length: {{(timecard.secondsworked/60)/60 | number:2}} hours <br>
				
			<!-- 	<span data-ng-bind="timecard.created | date:'medium'"></span>
				by
				<span data-ng-bind="timecard.user.displayName"></span>
                <span>{{timecard.start | date:'medium'}} -- {{timecard.end | date:'medium'}}</span>
                <span>Hours Worked: <h4 class="list-group-item-heading" data-ng-bind="timecard.name"></h4>- Minutes Worked: {{timecard.secondsworked/60}} - Seconds Worked: {{timecard.secondsworked}} </span> -->
			</small>
			
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!timecards.$resolved || timecards.length">
    	No Timecards yet, why don't you <a href="/#!/timecards/create">create one</a>?
    </div>
</section>