<section data-ng-controller="TimecardsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="timecard.user.displayName"></h1>
		<h1 data-ng-bind="timecard.date | date"></h1>
	</div>

	  <a ng-click="clockIn()">Clock-In</a>
               <br>
               <a ng-click="clockOut()">Clock-OUt</a>


	<div class="panel panel-info">
            <div class="panel-heading">Shift Details
                 <span class="pull-right"><b>Hours Worked: </b>33</span>
            </div>
            <div class="panel-body ui-map" data-slim-scroll="" data-scroll-height="100px" style="overflow: scroll;  width: auto; height: 100px">
            <b>{{timecard.user.displayName}} </b> 
            	Start-Time: {{timecard.start | date: 'short'}}  - End-Time: Start-Time: {{timecard.end | date: 'short'}}
            	<br>Hours Worked: {{timecard.end - timecard.start}}
             


                  <br>
               

                
   
                  <span data-ng-bind="callDetail.comments" class="pull-right"></span>
                </div>
            </div>
          </div>

          <!-- user role example -->
          <div data-ng-show="authentication.hasRole('awesome')">Awesome Role can see this</div>
          <div data-ng-show="authentication.hasRole('admin')">Admin role can see this</div>
          <div data-ng-show="authentication.hasRole('user')">User role can see this</div>

	<div class="pull-right" data-ng-show="authentication.user._id == timecard.user._id">
		<a class="btn btn-primary" href="/#!/timecards/{{timecard._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="timecard.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="timecard.user.displayName"></span>
		</em>
	</small>
</section>

