<style>
section{ 
  background: url(https://pixabay.com/static/uploads/photo/2013/03/23/22/58/key-96233_960_720.jpg) 
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  }
  .chad{
    /*background-color: #222;*/
    opacity: 1;
  }
  .panel{
    opacity: .9;
  }
  </style>
<div class="page-signin" data-ng-controller="AuthenticationController">
 

    <div class="main-body">


        <div class="container">
               <div class="panel col-md-6 col-md-offset-3">
        
            <div class="info text-center">
                <center>
                    <img alt="Swell Farmacy" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
                </center>
                <p>Enter the username that you use with this portal. We'll send you an email with your username and a link to reset your password.</p>
            </div>

            <div class="form-container text-center">

                <form class="form-horizontal" name="forgotPasswordForm">
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="username"
                               class="form-control input-lg input-round text-center"
                               placeholder="Username" data-ng-model="usertoReset">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-lg btn-block btn-primary btn-round" data-ng-click="sendReset()">Reset</a>

                    </div>
                    <alert data-ng-show="success" class="text-center" type="success" >
       {{message}}
        </alert>
                </form>
                 <p class="text-center"><a href="#!/signin">Log In</a></p>
            </div>
        </div>
    </div>
</div>

</div>

