
<div class="page-forgot" data-ng-controller="AuthenticationController">

    <div class="signin-header">
        <section class="logo text-center">
            <a href="#/">{{main.brand}}</a>
        </section>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="info text-center">
                <p class="text-small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
            </div>

            <div class="form-container text-center">

                <form class="form-horizontal" name="forgotPasswordForm">
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="username"
                               class="form-control input-lg input-round text-center"
                               placeholder="Username" data-ng-model="usertoReset">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-lg btn-block btn-primary btn-round" data-ng-click="sendReset()">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>