
<style>
.main-body { 
  /*background: url(http://4.bp.blogspot.com/_ia4NUNcc2qI/TPaXSSz_YgI/AAAAAAAAABc/s0lH7PvXJkc/s1600/New_York_Black_And_White_1680X1050_Wallpaper.jpg) */
   background: url(http://www.growweedeasy.com/sites/growweedeasy.com/files/dog-field-marijuana.jpg) 
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100vh;
  }
</style>
<div class="page-signin" data-ng-controller="AuthenticationController">


    <div class="main-body">
        <alert data-ng-show="error" class="text-center" type="danger" >
       {{error}}
        </alert>
         <alert data-ng-show="message" class="text-center" type="success" >
       Your Password has been changed. Please <a href="./#!/signin">Click Here</a> to login.
        </alert>
        <div class="container">
              <div class="panel col-md-4 col-md-offset-4">
            <div class="info text-center">
                <p class="text-small">Please enter your new password. Then confirm it. </p>
            </div>

            <div class="form-container text-center">

                <form class="form-horizontal" name="resetPasswordForm">
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="glyphicon glyphicon-lock"></span>
                        </div>
                        <input type="password"
                               class="form-control input-lg input-round text-center"
                               placeholder="New Password" data-ng-model="newpw">
                    </div>
                      <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="glyphicon glyphicon-lock"></span>
                        </div>
                        <input type="password"
                               class="form-control input-lg input-round text-center"
                               placeholder="Confirm Password" data-ng-model="confirmpw">
                    </div>



                    <div class="form-group">
                        <a class="btn btn-lg btn-block btn-primary btn-round" data-ng-click="setNewPW()">Confirm New Password</a>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>