<style>
section{ 
  background: url(http://www.growweedeasy.com/sites/growweedeasy.com/files/dog-field-marijuana.jpg) 
    no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  }
  .chad{
  	/*background-color: #222;*/
  	opacity: 1;
  }
  .panel{
  	opacity: .9;
  }
  </style>

  <section class="row" data-ng-controller="AuthenticationController">
	 <div class="container">
    <div class="panel col-md-10 col-md-offset-1">
    
	<div class="col-md-12 text-center chad">
		
	<img alt="Swell Farmacy" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
		<h3 class="col-md-12 text-center">Register For Access</h3>

		

		<form data-ng-submit="signup()" class="form-inline" novalidate autocomplete="off">
			
				<div class="form-group">
					<label for="firstName" class="sr-only">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName" class="sr-only">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email" class="sr-only">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username" class="sr-only">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password" class="sr-only">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<br/><br/>
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			
		</form>
	</div>
</div>
</section>