<style>
.h1{
color: #333;
}
</style>
<section data-ng-controller="WorkordersController" data-ng-init="findOne()">
	<div class="page-header" style="color: #111;" ><center>
	<h1> Carefree IID Work Order Approval</h1>
	<h2>{{workorder.type}} Request</h2>
		<h1 style="color: #444;" data-ng-bind="workorder.type"></h1>
		<h3 style="color: #444;" >{{offender.firstName}} {{offender.lastName}}</h3>
		<h3 style="color: #444;" >{{offender.vehicleYear}} {{offender.vehicleMake}} {{offender.vehicleModel}}</h3>
		<button class="btn btn-w-md btn-gap btn-primary" data-ng-click="approveWorkOrderPayment()">Approve</button>
	</div>
	



	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="workorder.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="workorder.user.displayName"></span>
		</em>
	</small>
</section>