<section data-ng-controller="WorkordersController" data-ng-init="WOinit()" >
   <style>
.h1{
color: #fff;
}
.col-md-4, .col-md-8{
    padding: 10px;

}
.form-inline{
    padding: 17px;

}
fieldset{
    padding: 3px;
}
.main-body{
    background-color: #555;
    /*font-size: 1.25em;*/
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}
/*h1, h2, h3{
    color: #333;
}*/

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.strike {
  text-decoration: line-through;

}
.done-true  {
    color: #ff0000;
     /*background-color: #555;*/
    text-decoration: line-through;
}
.scroll{
overflow: scroll;  
height: auto; 
min-height: 100px; 
max-height: 300px;
}
</style>

<!--  <div class="page-header">
        <h1 style="color: #444;">Workorders</h1>
    </div> -->
   
     <!--    <div class="container">
            <div class="panel panel-default table-dynamic" >
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Workorders</strong>
              
       
  
          </div>
          <div class="panel-body">
        
 -->

     <div class="main-body">
      
      <div class="container">
        <div class="row">
    <h1>Service Work Orders</h1>

    <section class="panel panel-default table-dynamic">
       <!-- <a  href="/#!/shops/create" class="btn btn-primary btn-sm" style="color: #fff;" >Add New Service Center</a>
   -->
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Workorders</strong>
             
          </div>
          <div class="panel-body">
        

            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="tableData.searchKeywords"
                               data-ng-keyup="searchPending()">
                        {{tableData.searchKeywords}}
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                        <span>
                            Showing {{currentPageWorkorders.length}}/{{filteredWorkorders.length}} Matches
                        </span>              
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Customer Name
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('firstName') "
                                      data-ng-class="{active: row == 'firstName'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-firstName') "
                                      data-ng-class="{active: row == '-firstName'}"></span>
                            </div>
                        </th>
                        <th>
                         <div class="th">
                                Type of Appointment
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('pendingWorkType') "
                                      data-ng-class="{active: row == 'pendingWorkType'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-pendingWorkType') "
                                      data-ng-class="{active: row == '-pendingWorkType'}"></span>
                            </div>
                        </th>
                  
          
                      
                              <th>
                            <div class="th">
                                City
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('city') "
                                      data-ng-class="{active: row == 'city'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-city') "
                                      data-ng-class="{active: row == '-city'}"></span>
                            </div>
                        </th>
                              <th>
                            <div class="th">
                                State
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('state') "
                                      data-ng-class="{active: row == 'state'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-state') "
                                      data-ng-class="{active: row == '-state'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Service Center
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('shopName') "
                                      data-ng-class="{active: row == 'shopName'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-shopName') "
                                      data-ng-class="{active: row == '-shopName'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Status
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('status') "
                                      data-ng-class="{active: row == 'status'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-status') "
                                      data-ng-class="{active: row == '-status'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Notes
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('orderNotes') "
                                      data-ng-class="{active: row == 'orderNotes'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-orderNotes') "
                                      data-ng-class="{active: row == '-orderNotes'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Appointment Date
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('apptDate') "
                                      data-ng-class="{active: row == 'apptDate'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-apptDate') "
                                      data-ng-class="{active: row == '-apptDate'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Service Fee
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('amount') "
                                      data-ng-class="{active: row == 'amount'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-amount') "
                                      data-ng-class="{active: row == '-amount'}"></span>
                            </div>
                        </th>
                         <th>
                            <div class="th">
                                Payment Status
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('pmtStatus') "
                                      data-ng-class="{active: row == 'pmtStatus'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-pmtStatus') "
                                      data-ng-class="{active: row == '-pmtStatus'}"></span>
                            </div>
                        </th>
                           

                    </tr> 
                </thead>
                
                <tbody>
                    <tr data-ng-repeat="item in currentPageWorkorders" >

                    <td><a data-ng-click="setCurrentWorkorder()" href="#!/offenders/{{item.offender}}">{{item.clientName}} </a></td>
                    <td><a data-ng-click="setCurrentWorkorder()" href="#!/workorders/{{item._id}}">{{item.type}}</a></td>
                    <td>{{item.city}}</td>
                    <td>{{item.state}}</td>
                    <td>{{item.shopName}}</td>
                    <td>{{item.status}}</td>
                     <td>{{item.orderNotes}}</td>
                     <td>{{item.apptDate | date: 'short'}}</td>
                     <td>{{item.amount | currency}}</td>
                      <td>{{item.pmtStatus}}</td>
                    

                        
                    
                   
                    </tr>
                </tbody>
            </table>
           
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Show 
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select> 
                            clients per page
                        </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredWorkorders.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>

        </div>
</section>