<style>
.h1{
color: #333;
}
</style>
<section data-ng-controller="WorkordersController" data-ng-init="findOne()">
	<div class="page-header" style="color: #444;" >
		<h1 style="color: #444;" data-ng-bind="workorder.type"></h1>
		<h3 style="color: #444;" >{{offender.firstName}} {{offender.lastName}}</h3>
		<h3 style="color: #444;" >{{offender.vehicleYear}} {{offender.vehicleMake}} {{offender.vehicleModel}}</h3>
	</div>
	<div class="modal-body">
      
        <br>
        <label>Customer: </label>{{offender.displayName}}<br>
        <label>Service Center: </label>{{shop.name}}<br>
        <label>Service Type: </label>{{workorder.type}}<br>
        <label>Status: </label>{{workorder.status}}<br>
        <label>Apointment Date: </label> {{workorder.apptDate | date: 'medium' }} <span class="btn btn-secondary"> <a data-ng-click="changeAppt()">Update</a></span><br>
        <label>Check-In: </label>{{workorder.checkIn| date: 'medium'}}<br>
         <label>Insepction: </label>{{workorder.inspected| date: 'medium'}}<br>
         <label>Device: </label>{{workorder.deviceSN}}<br>
         <label>Notes: </label>{{workorder.deviceNotes}}<br>
         <label>Tech Name: </label>{{workorder.techName}}<br>



	<span data-ng-show="showCalendar">
	         <fieldset>
	         <hr>
        	<div class="col-md-6 inline-block">
        <label>Choose the Date for the New Appointment</label>
       
         <div class="input-group ui-datepicker" ng-click="openCalendar($event)" ng-init="findWorkOrder(workorder._id)">
                    <span class="input-group-addon" ><i class="fa fa-calendar"></i></span>
                    <input type="text" 
                           class="form-control "
                           datepicker-popup="{{format}}"
                           ng-model="dt"
                           is-open="opened"
                           min="minDate"
                           max="'2016-06-22'"
                           datepicker-options="dateOptions"
                           ng-required="true" 
                           close-text="Close"
                           style="width: 65%"
                           name="ApptDate"
                           >
                   
                     


                </div>
                </div>
                
                 <div class="col-md-6 inline-block">
                <label> Please Choose the New Appointment Time/Date:</label>
                 

                   <div ng-model="mytime" ng-change="changed()" style="display:inline-block;" >
                    <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></timepicker>
                </div>  
                </div>
               	<br>

                  <button class="btn btn-secondary btn-sm"  ng-click="updateAppt()">Update Appointment</button>
                   </fieldset>
                  <br>
                  <hr>
	</span>

<label>Service Fee: </label> <span ng-show="workorder.status==='Complete'">{{workorder.amount | currency}}</span><input ng-hide="workorder.status==='Complete'" type="text" ng-model="workorder.amount"/><br>
        <label>Created by: </label>{{workorder.user.displayName}}<br>




	<div class="pull-right" data-ng-show="authentication.user._id == workorder.user._id">
		<a class="btn btn-primary" href="/#!/workorders/{{workorder._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<div confirm-delete on-confirm="deleteFile(file._id, $index)"></div>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="workorder.created | date:'longDate'"></span>
			by
			<span data-ng-bind="workorder.user.displayName"></span>
		</em>
	</small>
</section>