<section data-ng-controller="LeadsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Lead - {{lead.companyname}}</h1>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>

                  <div class="form-group">
                    <label class="control-label" for="companyname">Company Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lead.companyname" id="companyname" class="form-control" placeholder="Company Name" required>
                    </div>
                </div>

                    <div class="form-group">
                    <label class="control-label" for="contactname">Contact Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lead.contactname" id="contactname" class="form-control" placeholder="Contact Name" >
                    </div>
                </div>

     <div class="form-group">
                    <label class="control-label" for="email">Contact Email Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lead.email" id="email" class="form-control" placeholder="Contact Email" >
                    </div>
                </div>

                    <div class="form-group">
                    <label class="control-label" for="telephone">Telephone Number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lead.telephone" id="telephone" class="form-control" placeholder="Telephone Number">
                    </div>
                </div>


                    <div class="form-group">
                    <label class="control-label" for="address">Service Address</label>
                    <div class="form-inline">
                     <input type="text" data-ng-model="lead.address" id="address" class="form-control" placeholder="Address">
                    <label class="form-label" for="address">City</label>
                        <input type="text" data-ng-model="lead.city" class="form-control" placeholder="City">
                <label class="form-label" for="address">State</label>
                        <input type="text" data-ng-model="lead.state" class="form-control" placeholder="State">
                <label class="form-label" for="address">Zip</label>
                        <input type="text" data-ng-model="lead.zipcode" class="form-control" placeholder="Zipcode">
                
                </div>
                </div>


                    

                <div class="form-group">
                    <input type="submit" value="Update" data-ng-click="updateLead()" class="btn btn-default">
              
                </div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>




                    