<!-- <div class="page" data-ng-controller="LeadsController" data-ng-init="find()">

 <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Leads</strong></div>
       
        <div class="panel-body" data-ng-controller="flotChartCtrl">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" >Pie Chart</h3>
                </div>
                <div class="panel-body">
                    <div data-flot-chart
                         data-data="pieChart.data"
                         data-options="pieChart.options"
                         style="width: 100%; height: 300px;"
                         ></div>
                </div>
            </div>
        </div>
<a ng-click="getLead()">Test Click</a>
         <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Lead Breakdown</strong></div>
        <table class="table" data-ng-init="FLUPS()">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Telephone</th>
                    <th>Primary Contact</th>
                    <th>Email</th>
                    <th>Lead Status</th>
                    <th>Next Contact Date</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="lead in myleads" >
                    <td><a data-ng-href="#!/leads/{{lead._id}}">{{lead.companyname}}</a></td>
                    <td>{{lead.telephone}}</td>
                    <td>{{lead.contactname}}</td>
                    <td>{{lead.email}}</td>
                    <td>{{lead.status}}</td>
                    <td>{{lead.address}}</td>
                    <td></td>
                    </a>
                   
                </tr>
                
            </tbody>
        </table>
    </div>
    </section> 



    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Leads</strong></div>
        <div class="panel-body">
            <div class="list-group">
                <a data-ng-repeat="lead in leads" data-ng-href="#!/leads/{{lead._id}}" class="list-group-item" data-ng-hide="lead.status==='Closed/Won' || lead.status==='Closed/Lost'">
                    <div class="pull-right"><small class="list-group-item-text">
                        Last Called 
                        <span data-ng-bind="lead.lastCalled | date:'medium'"></span>
                        <br>Assigned To: {{lead.assignedRep}}
                    </small></div>

                    <h4 class="list-group-item-heading" data-ng-bind="lead.companyname"></h4>
                    <h4 class="list-group-item-heading" data-ng-bind="lead.telephone"></h4>
                </a>
            </div>
            <div class="alert alert-warning text-center" data-ng-hide="!leads.$resolved || leads.length">
                No Leads yet, why don't you <a href="/#!/leads/create">create one</a>?
            </div>
        </div>
    </section> 





</div> -->

<div class="page page-table" data-ng-controller="LeadsController" data-ng-init="stinit()">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Leads</strong></div>
        
            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="tableData.searchKeywords"
                               data-ng-keyup="search()">
                        {{tableData.searchKeywords}}
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                        <span>
                            Showing {{currentPageLeads.length}}/{{filteredLeads.length}} Matching Leads
                        </span>              
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Company Name
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('companyname') "
                                      data-ng-class="{active: row == 'companyname'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-companyname') "
                                      data-ng-class="{active: row == '-companyname'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Assigned To
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('assignedRep') "
                                      data-ng-class="{active: row == 'assignedRep'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-assignedRep') "
                                      data-ng-class="{active: row == '-assignedRep'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Contact Name
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('contactname') "
                                      data-ng-class="{active: row == 'contactname'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-contactname') "
                                      data-ng-class="{active: row == '-contactname'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Telephone
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('telephone') "
                                      data-ng-class="{active: row == 'telephone'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-telephone') "
                                      data-ng-class="{active: row == '-telephone'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Status
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('status') "
                                      data-ng-class="{active: row == 'status'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-status') "
                                      data-ng-class="{active: row == '-status'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Current Provider
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('currentCarrier') "
                                      data-ng-class="{active: row == 'currentCarrier'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-currentCarrier') "
                                      data-ng-class="{active: row == '-currentCarrier'}"></span>
                            </div>
                        </th>
                        
                        <th>
                            <div class="th">
                                Last Called
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('lastCalled') "
                                      data-ng-class="{active: row == 'lastCalled'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-lastCalled') "
                                      data-ng-class="{active: row == '-lastCalled'}"></span>
                            </div>
                        </th>


                    </tr> 
                </thead>
                <tbody>
                    <tr data-ng-repeat="lead in currentPageLeads">
                        <td><a data-ng-click="setCurrentLead()" href="#!/leads/{{lead._id}}/edit">{{lead.companyname}}</a></td>
                         <td>{{lead.assignedRep}}</td>
                         <td>{{lead.contactname}} </td>

                        <td>{{lead.telephone | tel}}</td>
                        <td>{{lead.status}}</td>
                        <td>{{lead.currentCarrier}}</td>
                        <td>{{lead.lastCalled | date:'medium'}}</td>
                        
                    </tr>
                </tbody>
            </table>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Show 
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select> 
                            deals per page
                        </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredLeads.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>

        </div>
    </section>
</div>

