<div class="page" data-ng-controller="LeadsController" data-ng-init="find()">

 <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Leads</strong></div>
       
        <div class="panel-body" data-ng-controller="flotChartCtrl">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" >Pie Chart</h3>
                </div>
                <div class="panel-body">
                    <div data-flot-chart
                         data-data="pieChart.data"
                         data-options="pieChart.options"
                         style="width: 100%; height: 300px;"
                         ></div>
                </div>
            </div>
        </div>
<a ng-click="getLead()">Test Click</a>
         <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Lead Breakdown</strong></div>
        <table class="table" data-ng-init="FLUPS()">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Telephone</th>
                    <th>Primary Contact</th>
                    <th>Email</th>
                    <th>Lead Status</th>
                    <th>Next Contact Date</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="lead in myleads" >
                
                    <td><a data-ng-href="#!/leads/{{lead._id}}">{{lead.companyname}}</a></td>
                    <td>{{lead.telephone}}</td>
                    <td>{{lead.contactname}}</td>
                    <td>{{lead.email}}</td>
                    <td>{{lead.status}}</td>
                    <td>{{lead.address}}</td>
                    <td></td>
                    </a>
                </tr>
                
            </tbody>
        </table>
    </div>
    </section> 



    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Leads</strong></div>
        <div class="panel-body">
            <div class="list-group">
                <a data-ng-repeat="lead in leads" data-ng-href="#!/leads/{{lead._id}}" class="list-group-item">
                    <div class="pull-right"><small class="list-group-item-text">
                        Last Called 
                        <span data-ng-bind="lead.lastCalled | date:'medium'"></span>
                        <br>Assigned To: {{lead.assignedRep}}
                    </small></div>

                    <h4 class="list-group-item-heading" data-ng-bind="lead.companyname"></h4>
                    <h4 class="list-group-item-heading" data-ng-bind="lead.telephone"></h4>
                </a>
            </div>
            <div class="alert alert-warning text-center" data-ng-hide="!leads.$resolved || leads.length">
                No Leads yet, why don't you <a href="/#!/leads/create">create one</a>?
            </div>
        </div>
    </section> 





</div>