

<section data-ng-controller="UserSignUpController" data-ng-init="findOne()">
<div class="page-header">

	<form name="myform">
	<div class="row" >
		<div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-1" ng-init="buildDTW()">
	 		<div class="panel panel-primary">
       			<div class="panel-body">
			       <center>
			 
			       <h1>Thank you for signing up!! </h1>
			       <h2>Centurylink Online Order Overview</h2>
			       <h4>This tool willl allow you to quickly fill out the appropriate forms to have your telephone numbers switched from your current provider to Centurylink.</h4>
			      
			<div ng-switch="step">
     			<div ng-switch-when="1">
	 					<div class="panel panel-primary">
       						<div class="panel-body">
       							<h3>Please review the information in this box to ensure order accuracy</h3>

				       			<div class="col-lg-10 col-lg-offset-1 col-md-6">
				                	<div class="form-group">
				                    	<label class="form-label" style="font-size: 24px;" for="companyname">Company Name</label>
				                        <input type="text" data-ng-model="lead.companyname" id="name" class="form-control pull-right" style="width: 50%" class="form-control text-center"d>
				                    </div>

				                    <div class="form-group">
				                    	<label class="form-label" style="font-size: 24px;" for="telephone">Telephone</label>
				                        <input type="text" data-ng-model="lead.telephone" class="form-control pull-right" style="width: 50%" >
				                    </div>

				                    <div class="form-group">
				                    	<label class="form-label" style="font-size: 24px;" for="contactname">Your Name</label>
				                        <input type="text" data-ng-model="lead.contactname" class="form-control pull-right" style="width: 50%" >
				                    </div>

				                    <div class="form-group">
				                    	<label class="form-label" style="font-size: 24px;" for="contactname">Your Email Address</label>
				                        <input type="email" data-ng-model="lead.email" name="contactemail" class="form-control pull-right" style="width: 50%">
				                    </div>

				                    <div class="form-group">
				                    	<label class="form-label" style="font-size: 24px;" for="contactname">Your Title</label>
				                        <input type="text" data-ng-model="lead.contacttitle" class="form-control pull-right" style="width: 50%" maxlength="22">
				                    </div>
				                    <button class="btn btn-w-md btn-gap btn-info" data-ng-click="nextStep()">Next Step</button>
				                  

				                </div>
       						</div>
       					</div>	
       				</div>
       			
 
			     <div ng-switch-when="2">
				 		<div class="panel panel-primary">
			       			<div class="panel-body">
			       				<h2>Telephone Line Details</h2>
			       				
			       				<h4>Please ensure the telephone numbers below are accurate. If everything is correct, press Sign PDF to electronically sign the LOAs. You will be given a copy immediately for your records.</h4>
			       				<br>
			       			<!-- 	<div class="field" ng-init="buildDTW()" >
             <div data-ng-repeat="line in lead.lineDetails track by $index" class="panel panel-info">
             Line #{{$index+1}}<br/>
              <label class="form-label" style="font-size: 18px;">Telephone Number</label>
              <input ng-model="line.number" type="text" style="width: 50%;" class="form-control text-center pull-right" maxlength="10" required/>
              <br/>
              </div></div> -->
			       				<div data-ng-repeat="line in lead.lineDetails track by $index" >
			       				<div class="form-group">
				         		<label class="form-label" style="font-size: 18px;" for="contactname">Telephone Number {{$index+1}}</label>
					              <input ng-model="line.number" type="text" style="width: 50%;" class="form-control text-center pull-right" maxlength="10" required/>
					              </div>
				              	</div>
				              	<br>
				              	<h4>By pressing <i>Sign PDF</i>, I, {{lead.contactname}}, being of sound mind and body do agree to all of the contractual obligations stated in the fine print that nobody ever reads.</h4>
				             
				             	<button class="btn btn-w-md btn-gap btn-info" data-ng-click="lastStep()">Previous Step</button>
								                    <button class="btn btn-w-md btn-gap btn-info" data-ng-click="makePDF()">Sign PDF</button>

			       			</div>
			       		</div>
			       	</div>
			  
			     <div ng-switch-when="3">
				 		
			       				<h2>Thank You.</h2>
			       				<h4>A copy of this document has been sent to {{lead.contactemail}} for your records. If you have any questions, please contact your rep.</h4>
			       				<br>
								<div data-ng-show="spinny===true">
								<p>Building PDF<i class="fa fa-cog fa-spin"></i>
								<br>
			       				<h4>Please wait patiently for your PDF to populate. If you have Pop-Up Blockers you'll probably need to 'Allow the PDF to Download'</h4>
			       				</p>
			       				</div>
			       				
			       			</div>

			     	<div ng-switch-when="4">
				 		<div class="panel panel-primary">
			       			<div class="panel-body">
			       				<h2>Sorry these LOAS have already been signed</h2>

			       			</div>
			       		</div>
			      	</div>
	       		</div>
	       	</div>
	     </div>


	    <div class="col-lg-12 col-md-6" >
	 		<div class="panel panel-primary" data-ng-show="lead.loa_signed==='YES'">
       			<div class="panel-body">
       			<center>
       				<h2>Here is a copy of your Signed LOA</h2>
       				<h4>If you see a blank grey screen, this link may have expired - check your email for a copy of the LOAs</h4>
       				<object data="{{mycontent}}" type="application/pdf" style="width:100%;height:1100px;"></object>
       			</center>
       			</div>
       		</div>
       	</div>
</form>


       				</center>
       			</div>
       		</div>
       	</div>
    </div>
</div>
</section>

