<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

<form name="myForm" data-ng-submit="makeQuote()" >  
        <!-- Stats -->
    <div class="row">
        <div class="col-lg-3 col-xsm-3">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-success">
                    <i class="fa fa-crosshairs"></i>
                </span>
                <div class="box-info" ng-click="getLead()">
                    <p class="size-h2"><span stats="repLEADS">{{mystuff}}</span></p>
                    <p class="text-muted">Total Leads</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-3">
          <a href="#!/leads" style="text-decoration:none">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-info">
                    <i class="fa fa-barcode"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2" ><span stats="repDEALS">{{mystuff}}</span></p>
                    <p class="text-muted">Deals</p>
                </div>
            </div></a>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-warning">
                    <i class="fa fa-dollar"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">$<span stats="repMRC">{{mystuff}}</span></p>
                    <p class="text-muted">Revenue Sold</span></p>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-danger">
                    <i class="fa fa-phone"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2"><span stats="repCALLS">{{mystuff}}</span></p>
                    <p class="text-muted">Calls</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->



 <span><a href="/#!/leads/create">Add New Opportunity</a></span>
   

  <div class="row" data-ng-controller="LeadsController" data-ng-init="findOne()">
 <!--  <a ng-click="getgoogleStuff()">Google It</a>
  {{googleStuff}} -->
    <div class="col-lg-7" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-th">
            </span>&nbsp;&nbsp;Lead Deatils   --- Assigned Rep: {{lead.user.displayName}}
             <a class="btn-sm btn-primary pull-right" style="cursor: pointer; text-decoration: none" data-ng-click="convertToDeal()">
            <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Convert to Deal</a>


            </div>
          <div class="panel panel-primary">
              <div class="panel-body">
               <p><h1 class="pull-left">{{lead.companyname}}</h1></p>
                <p><h2 class="pull-right">{{lead.telephone}}</h2></p>
                  
                  <div class="clearfix"></div>

                <h4 class="pull-left">{{lead.contactname}}</h4>
                  <div class="pull-right">
                    <span ng-click="editing = true" data-ng-bind="lead.address"></span><br>
                    <span data-ng-bind="lead.city"></span>
                    <span data-ng-bind="lead.state"></span>, 
                    <span data-ng-bind="lead.zipcode"></span>
                
                  </div>
                
               <div class="clearfix"></div>

               Qualify for: {{lead.speed}}<br>
               Current Provider: {{lead.currentCarrier}} Get Abbreviation{{lead.currentCarrier.abb}}
               <div class="pull-right"><a class="btn-sm btn-primary" href="/#!/leads/{{lead._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i> Edit
    </a></div>
              </div>

            </div>
          <div class="panel panel-info">
            <div class="panel-heading">Call Records
                 <span class="pull-right"><b>Last Called: </b>{{lead.lastCalled | date:'medium'}}</span>
            </div>
            <div class="panel-body ui-map" data-slim-scroll="" data-scroll-height="100px" style="overflow: scroll;  width: auto; height: auto; min-height: 100px; max-height: 300px;">
                <div ng-repeat="callDetail in lead.callDetails">
                <b>{{callDetail.calltime | datetime}}</b><br>
                {{callDetail.rep}} spoke w/ {{callDetail.gatekeeper}} - {{callDetail.disposition}} 

                
   
                  <span data-ng-bind="callDetail.comments" class="pull-right"></span>
                </div>
            </div>
          </div>


          <div calss="panel-default">
            <div class="panel-body">
              <center>
                <a class="btn btn-primary center" data-ng-click="dialLead()" data-ng-hide="makecall===false">
                <span class="glyphicon glyphicon-earphone"></span>Call Customer</a>
                <a class="btn btn-danger center" data-ng-click="endCall()" data-ng-show="showend===true">
                <span class="glyphicon glyphicon-earphone"></span>End Call</a>
              </center>

            </div>
          </div>
       

        <div class="panel-default">
          <div class="panel-body" data-ng-show="showdispo===true">


               <div class="form-inline form-group">

                <div class="col-lg-6 col-xsm-6">
                                     Who Answered?: 
                      <input type="text" style="width: 60%;" class="form-control text-center" name="gatekeepername" ng-model="gatekeepername"></input>
                </div>
                <div class="col-lg-6 col-xsm-6 pull-right">
                 
                  Position: 
                  <select ng-model="gatepos" style="width: 60%;" class="form-control text-center" name="gatekeeperposiiton" ng-options="position for position in positions"></select>

                </div>
            </div>
            <br><br>

            <div class="col-lg-6 col-xsm-6">
            

              <div class="form-group">
                <label class="control-label" for="content">Comments:</label>
                  <div class="comments">
                    <textarea name="comments" data-ng-model="comments" id="comments" class="form-control"  style="width: 100%;" rows="5" placeholder="Call Comments"></textarea>
                    
                  </div>
              </div>
            </div>



            <div class="col-lg-6 col-xsm-6">

                <div class="form-group">


                  <label class="control-label" for="content">
                    Disposiiton:
                  </label>
                   <div class="field">
                      <div class="form-inline form-group">
                         Contact:
                         <select ng-model="contpos" style="width: 30%;" class="form-control text-center pull-right" name="contactposiiton" ng-options="position for position in positions"></select>
                          <input type="text" style="width: 40%;" class="form-control text-center pull-right" name="callDetailscontact" ng-model="callDetailscontact"></input>
             
               
                      </div>
                                    
                    </div>
<div class="clearfix"></div>
                    <div class="field">
                      <div class="form-inline form-group">
                         Disposition: <select ng-model="disposition" ng-options="dispo for dispo in dispositions" style="width: 70%;" class="form-control text-center pull-right"></select>
                      </div>
                                    
                    </div>

                     <div ng-show="disposition==='Follow-Up'">
                      <div class="input-group ui-datepicker" ng-click="open($event)">
                   Follow-Up: <input type="text" 
                           class="form-control pull-right"
                           datepicker-popup="{{format}}"
                           ng-model="dt"
                           is-open="opened"
                           min="minDate"
                           max="'2016-06-22'"
                           datepicker-options="dateOptions"
                           ng-required="true" 
                           close-text="Close"
                           style="width: 65%"
                           name="FLUPDate">
                    <span class="input-group-addon" ><i class="fa fa-calendar"></i></span>
                     


                </div>

                   <div ng-model="mytime" class="pull-right" ng-change="changed()" style="display:inline-block;">
                    <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                </div>  
                
            </div>

            </div></div>




            <div class="col-lg-12 col-xsm-6">   

  <div class="field">
                      <div class="form-inline form-group">
                         Lead Status:<select ng-model="leadstatus" ng-options="status for status in statuses" style="width: 70%;" class="form-control text-center pull-right"></select>
                      </div>
                                    
                   
                </div>

            
<br>
               
                     <center> <a class="btn btn-primary center" data-ng-click="saveLead();">
                 Save Lead
                      </a>
                      <a class="btn btn-primary center" data-ng-click="nextLead();">
                 Next Lead
                      </a>
                      </center>
                      </div>



          </div></div></div>

</div>
                           
           

        <div class="col-lg-5">
          <div class="panel panel-default">
              <div class="panel-body">


<center>
<h3>Total Monthly: <span style="color: #ec5f3c">{{currentPrice|currency}}</span></h3>
<h3>One-Time Fees: <span style="color: #ec5f3c">{{currentNRR|currency}} </span></h3>
<p data-ng-show="qwestCheckingServiceA">Validating Address with Centurylink <i class="fa fa-cog fa-spin"></i></p>

<p data-ng-show="qwestCheckingService"><i class="fa fa-cog fa-spin"></i>  Qualifying Address for DSL  <i class="fa fa-cog fa-spin"></i></p>
<p data-ng-show="!qwestValidService && !qwestCheckingService && !qwestCheckingServiceA">Unable to verify address for Centurylink service</p>
</center>


              
            
            <div class="field">
    <label class="form-text">DSL Speed:</label>

    <select ng-model="dslspeed" ng-change="getQuote()" class="form-control text-center" style="width: 50%; float:right;" name="dsl_speed" id="dsl_speed" ng-options="speed.value for speed in mySpeeds"></select>

    </div>

              
    <div class="clearfix"></div> 


            <div class="field">
            <label class="form-text">Additional Lines:</label>
            <input  ng-change="getQuote()" ng-model="myadl" type="text" name="adl" style="width: 50%; float:right;" class="form-control text-center" />
          </div>
                              <div class="clearfix"></div> 


                <div class="field">
            <label class="form-text">Term:<span id='myphoneError' style='display: none; color: red'>How Long of a Term?</span></label>
          <select ng-change="getQuote()" ng-model="myterm" class="form-control text-center" style="width: 50%; float:right;" name='term' id='term' ng-options="myterm.name for myterm in myTerms"></select>
             </div>
              <div class="clearfix"></div>   
                  
                        <div class="field">

            <label class="form-text">DSL Modem:<span id='myphoneError' style='display: none; color: red'>What about the modem?</span></label>

           <select  ng-change="getQuote()" ng-model="mymodem" class="form-control text-center" style="width: 50%; float:right;" name='modem' id='modem' ng-options="optA.value for optA in myModem"></select></div>
                  
                     <div class="clearfix"></div>
                  
                  <div class="field">
            <label class="form-text">Static IP:<span id='myphoneError' style='display: none; color: red'>What about Static IPs?</span></label>
           <select  ng-change="getQuote()" ng-model="myip" class="form-control text-center" style="width: 50%; float:right;" name='staticIP' id='staticIP' ng-options="ipopts.value for ipopts in myIP">
            
               </select></div>
                  
                     <div class="clearfix"></div>
                  
                  
                        <div class="field">
                  <label class="form-text" for="telephone">Waive NRCs:</label>
                  <select  ng-change="getQuote()" ng-model="nrc" class="form-control text-center" style="width: 50%; float:right;" name="nrcs" id="nrcs" ng-options="nrcopt.value for nrcopt in myNRC"></select>
              </div>
                  
                   <div class="clearfix"></div> 
                        <div class="field">
                  <label class="form-text" for="telephone">Credits Issued:</label>
                  <select  ng-change="getQuote()" ng-model="mycredits" class="form-control text-center" style="width: 50%; float:right;" name="credits" id="credits" ng-options="creditopt.value for creditopt in myCredits">
                  </select>
              </div>
                  
              <div class="clearfix"></div> 
                  
                 <center>
               
                <input type="button" value="Show Company Info" ng-click="coInfo = 'true'" class="btn text-center submit-button" ng-show="!coInfo" ng-hide="coInfo"/>

               </center>
           
       <div ng-show="coInfo">
                          <center><h3><span style="color: #ec5f3c">Detail Info for Quote</span></h3></center>
                          <div class="field">
            <label class="form-text" for="companyname">Company Name:<span id='myconameError' style='display: none; color: red'>Company Name Cannot Be Blank</span></label>
            <input ng-model="lead.companyname" type="text" style="width: 50%; float:right;" name="companyname" id="companyname" class="form-control text-center"  required>
          </div><!--field-->
<div class="clearfix"></div>    
                  
          <div class="form-text" class="field">
            <label for="name">Person Name:<span id='myNameError' style='display: none; color: red'>Name Cannot Be Blank</span></label>
            <input ng-model="lead.contactname" type="text" style="width: 50%; float:right;" name="dmname" id="dmname" class="form-control text-center"  required>
          </div><!--field-->
                  
          <div class="clearfix"></div>  
          <div class="field">
            <label class="form-text" for="email">Email:<span id='myemailError' style='display: none; color: red'>This Does Not Appear to Be Valid</span></label>
            <input ng-model="lead.email" ng-blur="updateEmail()" type="email" style="width: 50%; float:right;" name="email" id="email" class="form-control text-center"  required>
          </div><!--field-->
          <div class="clearfix"></div>   
         
         <div class="field">
            <label class="form-text" for="telephone">Call Back Number:<span id='myphoneError' style='display: none; color: red'>Phone Number Cannot Be Blank</span></label>
            <input ng-model="lead.telephone" type="text" style="width: 50%; float:right;" name="telephone" id="telephone" maxlength='10' placeholder='2125551111' class="form-control text-center"  />
          </div><!--field-->
                
                
                  
                <!--    <div class="clearfix"></div> 
                        <div class="field">
                  <label class="form-text" for="telephone">Send LOAs:</label>
                  <select ng-model="loa"class="form-control text-center"  style="width: 50%; float:right;" name="sendloas" id="sendloas" ng-options="loa.name for loa in myLOA">
                   
                  </select>
              </div> -->
                   <div class="clearfix"></div> 
        <center><br><br>
         <span data-ng-show="sending"><h4>
             <i class="fa fa-circle-o-notch fa-spin fa-lg" style="vertical-align: middle;"></i>   Sending Email to {{lead.email}} </h4>
             </span>

             <span data-ng-show="results"><h3>{{myresults}}</h3>
             </span>

             <span data-ng-show="emailbuttons">
                     <input type="button" value="Hide Company Info" ng-click="coInfo = 'false'" class="btn text-center submit-button" />
                

              <input type="submit" id="price_it" value="Email Quote" class="btn text-center submit-button" ng-click="makeQuote()">
              </span>

              


                </center>
             </div></div>





</form>

</div></div>Chad's Test: {{chadstest}}

<!-- <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-body">

                        <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> My Follow-Ups</strong></div>
        <table class="table" data-ng-init="FLUPS()">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Telephone</th>
                    <th>Primary Contact</th>
                    <th>Email</th>
                    <th>Lead Status</th>
                    <th>Next Contact Date</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="lead in myleads" >
                
                    <td><a data-ng-href="#!/leads/{{lead._id}}">{{lead.companyname}}</a></td>
                    <td>{{lead.telephone}}</td>
                    <td>{{lead.contactname}}</td>
                    <td>{{lead.email}}</td>
                    <td><span class="label label-primary">{{lead.status}}</span></td>
                    <td>{{lead.FLUPDate | date:'medium'}}</td>
                    <td></td>
                    </a>
                </tr>
                
            </tbody>
        </table>
    </div>



</div></div></div>

 <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-body">

                        <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> My Deals</strong></div>
        <table class="table" data-ng-init="DEALS()"> 
            <thead>
                <tr>
                   
                    <th>Deal Name</th>
                     <th>Telephone</th>
                    <th>Status</th>
                    <th>Project Manager</th>
                    <th>Progress</th>
                    <th>Converted</th>
                </tr>
            </thead>
            <tbody>
             <tbody>
                <tr data-ng-repeat="deal in mydeals" >
                
                    <td><a data-ng-href="#!/deals/{{deal._id}}/edit">{{deal.companyname}}</a></td>
                    <td>{{deal.telephone}}</td>
                    <td data-ng-hide="deal.stagenum!=0"><span class="label label-danger">{{deal.stage}}</span></td>
                    <td data-ng-show="deal.stagenum!=0"><span class="label label-primary">{{deal.stage}}</span></td>
                    <td>{{deal.projectmanager}}</td>
                    <td><progressbar class="progressbar-xs no-margin" value="deal.stagenum" type="success"></progressbar></td>

                    <td>{{deal.converted | date:'medium'}}</td>
                    <td></td>
                    </a>
                </tr>

              
            </tbody>
        </table>
    </div>

 -->

</div></div></div>



    
</div>
</div>
  